[2016-03-02 20:45] austencollins opened #1 "V0 Goals"
The goal here is not just to create the ultimate boilerplate project for building serverless applications, but to create an application boilerplate with the **lowest total cost of ownership** (e.g., code, administration, cost) by leveraging new tech (e.g., Lambda, GraphQL).  Here is what the initial implementation should include:
- [x] Create scaffolding: api, events, utils folders for lambdas
- [

[2016-03-25 07:43] pmuens opened #7 "GraphQL authentication via viewer pattern"
Implement viewer pattern (via JSON Web Tokens) like it's described here:

https://medium.com/@clayallsopp/graphql-and-authentication-b73aed34bbeb#.5ft8idd6b

[2016-03-25 07:45] pmuens opened #8 "Remove authorizer functionality in GraphQL public endpoint"
Users should not need to authorize to view public resources.

[2016-03-25 07:51] #8 closed, assigned to nobody

[2016-03-25 16:00] austencollins opened #9 "Add the Meta Sync plugin for teams sharing secrets"
Add the [Meta Sync](https://github.com/serverless/serverless-meta-sync) plugin so teams can share ENV vars and more, securely.

[2016-03-25 16:01] austencollins opened #10 "Add the CORS plugin"
Add the [CORS plugin](https://github.com/joostfarla/serverless-cors-plugin)

[2016-03-26 07:35] austencollins opened #11 "Add Validation"
We need validation logic for our data.  Not sure whether this should be within GraphQL or outside of it.

[2016-03-26 20:35] pmuens opened #12 "Client - Values of to be edited user are not updated"
Steps to reproduce:
- Go to the users table
- Click on `edit` in the table
- Go Back to the users table (wit the browsers back button)
- Select another user

You'll see the value of the old user.

This has smth. to do with the fact that the state is updated after the component is mounted. We could use [Redux form](https://github.com/erikras/redux-form) but I don't want to introduce another depende

[2016-03-27 19:56] brettstack opened #13 "Enable Lambda functions to be written in ESNext"
Since we're allowing our client to be written in ES6, we should allow it for lambda functions also.

As described here http://www.rricard.me/es6/aws/lambda/nodejs/2015/11/29/es6-on-aws-lambda.html. Example repo here https://github.com/rricard/lambda-es6-example.

[2016-03-27 20:12] brettstack opened #14 "Browser support?"
What's the minimum browser versions we plan on supporting? I suggest IE10+ to enable the use of flexbox http://caniuse.com/#feat=flexbox. Flexbox allows for layouts that are otherwise difficult or impossible (at least without significant hacks), but isn't something that can be polyfilled unlike most JS features. IE10 only supports the 2012 syntax, but Autoprefixer (which we should add to Webpack)

[2016-03-28 04:45] #14 closed, assigned to nobody

[2016-03-28 14:30] austencollins opened #15 "Add Basic GraphiQL IDE Usage Instructions in the README"
[GraphiQL](https://github.com/graphql/graphiql) is an in-browser IDE which users of the boilerplate should be ware about since it helps your construct and visualize GraphQL query responses.  We should put a small blurb about it in the README.  Possibly the setup guide?

[2016-03-28 16:09] mwawrusch opened #16 "Passwords not salted"
Hi guys,

I just glanced over the code, and it looks like the passwords are not salted - basically each user needs an  individual  random salt string that is added to the password and used within the hash function.

[2016-03-28 16:26] mwawrusch opened #17 "rename the project to serverless-boilerplate-monolithic"
I feel like it's very important to communicate that this is not the one and only way to use serverless. People are very quick in their assumptions and judgements, and going back to RPC style programming won't sit well with a lot of folks.

Just my 2 cents...

[2016-03-28 17:52] marksteele opened #18 "missing deps"
Missing uuid and graphql from dependancies.

[2016-03-28 18:06] #9 closed, assigned to nobody

[2016-03-28 18:15] #18 closed, assigned to nobody

[2016-03-28 18:19] #15 closed, assigned to nobody

[2016-03-29 09:37] #16 closed, assigned to nobody

[2016-03-29 20:07] #10 closed, assigned to brettstack

[2016-03-30 15:26] #1 closed, assigned to nobody

[2016-03-30 15:29] ac360 opened #20 "Authorization and Permission Handling"
We're going to move the auth logic into a separate file which will be easier for people to add their own custom auth logic to.  We also need to add permission handling here, though we're not sure on the best way to do permission verification w/ GraphQL.

Perhaps each resolve function for collections include required permissions and those are passed into the authorize method, like this: `authorize(

[2016-03-31 17:28] marclar opened #21 "Expose GraphQL schema from GET endpoint"
My use case is that I'm working with a mobile developer who needs an up-to-date schema.json. I figured I could add a `GET /schema` endpoint that would assume the existence of a GraphQL endpoint at `/data`, then run an introspection query against that.

I've already added this to my own project -- should I create a PR?

[2016-04-01 09:27] #17 closed, assigned to nobody

[2016-04-01 09:30] #7 closed, assigned to nobody

[2016-04-02 17:06] #11 closed, assigned to nobody

[2016-04-06 01:23] #21 closed, assigned to nobody

[2016-04-07 16:03] ac360 opened #23 "How To Add Further Application/Business Logic"
Using GraphQL in a Lambda function is promising.  We've reduced a REST API with many endpoints into a single endpoint Graph API connected to one Lambda.  This results in less administration, less code, and a great developer experience on the client-side.

However, this encourages adding lots of logic into that single Lambda function, resulting in a monolithic architecture.  How can we make room fo

[2016-04-07 17:58] marclar opened #24 "Error cloning / installing"
Steps:
1. git clone git@github.com:serverless/boilerplate-graphql.git
2. cd boilerplate-graphql
3. npm install
4. cd back/api
5. npm install
6. cd ../..
7. sls project init

Results in: `Error: Cannot find module 'jsesc'`

[2016-04-07 19:47] marclar opened #25 "error: Use of const in strict mode"
After cloning / installing the repo (had to install `jsesc` first, see #24), API endpoints give this error.

I'm _guessing_ it's related to the change to the nodejs4.3 runtime, but I have no idea. The babelify and es2015 preset are still present.

[2016-04-08 23:37] #25 closed, assigned to nobody

[2016-04-08 23:37] #24 closed, assigned to nobody

[2016-04-08 23:43] breandr opened #26 "Launch checklist and ETA?"
The v0 goals issue was closed, and I see no indication of milestones before this repo is made public. The AWS Serverless team has a hackathon coming up soon and I'd like to demo this. Ideas welcome - always a bonus if you can hook it up to an Echo ;)

[2016-04-12 15:56] ac360 opened #28 "Tests Needed"
We need some basic tests for GraphQL User CRUD operations.

[2016-04-14 08:04] laardee commented on #28
Everyone is fighting over this one. :smile: I can give a try, though I haven't work with GraphQL much. Unless you are in a hurry, I think it will take couple days for me to get started.

Do you have any preference how tests should be done (mocha with chai or something else, etc.)?

[2016-04-14 08:09] ac360 commented on #28
Thanks @laardee!  We're all still new to GraphQL :)  Tests done in mocha or chai are totally fine.  I really appreciate your help here.

[2016-04-14 08:10] ac360 commented on #26
Made the project public :)  We'll promote it later this week or possibly early next week.

[2016-04-15 19:02] #26 closed

[2016-04-16 01:08] nikgraf commented on #28
@laardee any progress? I would be happy to help out here over the weekend …

[2016-04-16 01:31] ac360 opened #30 "Server-Side Caching"
We'd like to offer easy server-side caching, but we can't do that right now with a single endpoint containing only a POST request to API Gateway.

We should create a second Endpoint on the existing `data` Lambda which features a GET method.  The GraphQL request should be provided in a query string, which API Gateway needs for caching.

Not sure what type of challenges we'll run into implementing t

[2016-04-16 02:38] breandr commented on #30
So there are two levels of cache - client (browser) and server (API
Gateway). By default, this boilerplate should only leverage the client
cache, as API Gateway charges additional fees for caching. We should
mention this and point them at the API Gateway caching docs.

It might be a good idea to configure caching for the query string parameter
so that enabling caching is as easy as turning it on a

[2016-04-16 02:55] ac360 commented on #30
@breandr Yes, making it easy for people so all they have to do is turn caching on in a particular stage is the goal.

I believe this will require creating an additional GET endpoint, with the cache settings set to a stage variable, which can be true or false, and adding the GET request logic to the client-side.

[2016-04-16 03:31] laardee commented on #28
There is couple minor things left that I need to fix, otherwise I'm almost done with writing the tests. I'll try to open PR today.

[2016-04-16 04:05] breandr commented on #30
I think it's more a matter of setting up the GET method with a "query"
query string parameter on the method request and adding
"method.input.params.query" to the list of cache key parameters. Adding
cache at this level will have no effect (or additional fee) until you
enable cache on the stage. Then, as we do with POST, pass "query" through
in the request template.

On Fri, 15 Apr 2016, 7:55 p.m.

[2016-04-16 18:41] #30 closed

[2016-04-16 18:45] breandr commented on #30
How do I add a request parameter for the sole purpose of using it in the request template? The docs only mention this way to define request parameters:

[code]

My understanding is this will set up both a method and integration request parameter, however we do not need the latter for this purpose.

I also had to dig into the source to find out how to add cache key parameters - this should be added

[2016-04-16 18:46] breandr commented on #30
README update to follow later - do you think it should be in the FAQ or somewhere else?

[2016-04-16 20:15] laardee commented on #28
I opened a PR so that it is easier to discuss.

It includes following tests:
* create user
* get users
* get one user
* login fails because of incorrect username
* login fails because of incorrect password
* successful login
* fails to update user with bad token
* successfully updates user
* fails to delete user with bad token
* successfully deletes user
* get empty users response after deleting

[2016-04-17 19:37] #28 closed

[2016-04-17 21:23] nikgraf opened #32 "Rename `back` to `backend`?"
I was reading through the readme to run through the setup. The name `back` initially was confusing. What do you think about renaming it to `backend`?

[2016-04-17 23:10] breandr commented on #32
I feel like we need to be consistent: either front-end and back-end or
client and server. I understand the desire to not name it "server", but
developers using serverless understand that there is still a server.

On Sun, 17 Apr 2016, 2:23 p.m. Nik Graf, <notifications@github.com> wrote:

[2016-04-18 03:18] nikgraf commented on #32
Hehe, yeah I had similar thoughts about server. `backend` & `frontend` sounds good to me … I suggest to leave out the hyphen. Both versions seem to be valid according to Google & Wiktionary

[2016-04-18 06:27] ac360 commented on #30
@breandr Fantastic work!  I think we should get this in the README.  It's a valuable feature and people should be aware of it.

[2016-04-18 06:31] ac360 commented on #32
There is a high likelihood we will be including other clients in our boilerplates (Alexa, IoT devices, etc.).  We're waiting on a plugin from @jerwallace which adds IoT support to the framework.  So `frontend` might not be appropriate.  `backend` sounds fine.

[2016-04-18 06:42] pmuens commented on #30
Great addition. A GET endpoint is also important for stuff such as "activate your account" or other stuff where the user clicks on a link.

[2016-04-18 06:48] ac360 commented on #30
@pmuens How should this work on the client-side?

[2016-04-18 07:50] pmuens commented on #30
We've implemented it this way:

[code]

[code]

[2016-04-21 18:19] ryansb commented on #32
Ugh, three more letters!?!?!

Kidding. :+1: for backend, but for the web client maybe the right name would be `website` or `webclient`? That way it'd be obvious that it's the web client, as opposed to a mobile client (or client library, or ...).

[2016-04-22 03:01] breandr commented on #30
Updated README but couldn't find anything in serverless docs regarding enabling caching on a stage, so for now it's just pointing users to the API Gateway Caching docs.

[2016-04-22 07:41] HyperBrain commented on #30
@breandr FYI, I created https://github.com/serverless/serverless/issues/1021 a time ago for the documentation of APIG caching.

[2016-04-22 08:26] pmuens commented on #32
+1 for web client as a mobile client might follow as well (with ReactNative)!

[2016-04-22 08:30] pmuens opened #34 "Rename project to serverless-graphql-boilerplate"
We've renamed the project several times (and discussed this extensively) but I think that the "boilerplate" is missing in the name.

Recently I've recommended this project to another developer and he was like "Ah that's a boilerplate! At first I thought that this is a kind of extension or plugin so that GraphQL works with Serverless".
Heard similar comments about it a few times.

So I would propos

[2016-04-22 08:37] HyperBrain commented on #34
I also agree with that proposal. It would continue the naming scheme as it is used with the plugins today, e.g. serverless-XXXX-plugin.

In general all packages that extend the use or serve a certain purpose should follow the same generic naming scheme:

`serverless-{name of package}-{type of package}`

[2016-04-22 08:39] pmuens commented on #34
@HyperBrain Good point! That makes identifying the purpose of the package way easier!

[2016-04-22 14:05] erikerikson commented on #34
There was a really good issue in the main project asking for plugin naming
conventions to change to serverless-plugin-[name].  I think the same
ordering convention would be valuable here, allowing searches for
serverless-boilerplate in order to increase discoverability whether using a
flexible search solution or not.  It definitely supplies a better
auto-complete-style identification of the one yo

[2016-04-22 14:09] HyperBrain commented on #34
Maybe changing the names from the already established naming scheme with plugins would be wide-breaking! All the repositories are named `serverless-[name]-plugin`so far and all users' `package.json` also contain the current scheme (not to speak of NPM).

My opinion is that adapting the current plugin naming scheme would cause the least efforts for everyone

[2016-04-22 14:11] pmuens commented on #34
Yep. `serverless-boilerplate-[name]` would be a good convention! Haven#t thought about the auto completion but love it.

[2016-04-22 14:23] erikerikson commented on #34
I agree Frank, it would be a bit of a pain.  That said, its only a
convention so it can be changed slowly, at will, over time for plugins.
Maybe in conjunction with the next round of breaking changes when
modifications have to happen regardless.
On Apr 22, 2016 7:09 AM, "Frank Schmid" <notifications@github.com> wrote:

[2016-04-22 14:34] HyperBrain commented on #34
Yes, that might work and the auto-completion might weight here if you even think of bash-completion etc.

[2016-04-28 14:29] anddimario opened #35 "Multisite support"
Hi, what do you think about the possibility to add some sort of multisite support?
For example, it could be used an header to define the site name and use this as reference in a table fields (shared table for each site), or maybe for table name's suffix (each sites could have their table).

[2016-05-08 22:21] acyuta108 opened #38 "TypeError: Cannot read property 'users' of undefined when running the client offline"
I followed the installation instructions and kept getting the mentioned message in the users index page in the error box at the top. After installing redux-devtools the error is caught by it. In Firefox the message is slightly different: An error occurred: "action.payload.data is undefined". I query the endpoint and db using Graphiql and I get the data without any issues, so I know that the backen

[2016-05-13 14:21] jesucarr opened #40 "Clarify AWS credentials requirements for local DB"
It seems that the `setupdb` plugin needs the `[default]` profile in `~/.aws/credentials` to have the same `aws_access_key_id` and `aws_secret_access_key` as the profile in `admin.dev`.

I tried setting `AWS_DEFAULT_PROFILE` to the profile in `admin.dev`, but didn't work.

Is this a bug?

Here the error I get:

[code]

[2016-05-15 16:23] Aciid commented on #40
same issue here, I've checked that the relevant profile is mentioned in ~/.aws/config and ~/.aws/credentials

serverless-starter works, maybe theres something out of date here.

[2016-05-16 15:36] Glavin001 commented on #40
I had the same problem.
I think 1 thing that helped was downloading a ZIP of the `master` branch of this project and copying over all of the files -- it appears that the installation did not use the latest code -- and then I changed `name` field in `s-project.json` to your applicable project name. I now have it working. I also tried installing DynamoDB Local manually vs using `docker-compose up`,

[2016-05-16 20:02] Aciid commented on #40
Hey @Glavin001 ,

I tried the master branch but that didn't work out any better. I also checked out the pull request, doesn't seem that relevant.

I'm more concerned about `backend-git/back/api/lib/dynamodb.js` which has the actual mentions on how to drive locally this is where the "credentials" are missing. as the sessionToken doesn't get validated by the local instance.

But as none other projec

[2016-05-16 20:11] Glavin001 commented on #40
Hmm I'll try to figure out what I did to fix that issue. It was a long day last week, I remember that much.

[2016-05-17 00:05] TomBarta commented on #40
I had this problem today, too.

export AWS_ACCESS_KEY_ID=id_key
export AWS_SECRET_ACCESS_KEY=access_key

solved it on my OSX and Ubuntu 16.04 machines.

[2016-05-17 08:12] laardee commented on #40
How did you install the boilerplate? With `sls project install serverless-graphql` or cloning the repo and running `sls project init`? I haven't touched the `admin.env` and it has my personal profile settings mapped for both stages that I've created, `dev` when installing the project and `tests` later with `sls stage create`
[code]

[2016-05-17 09:03] Aciid commented on #40
@TomBarta this worked :3 thanks!

@laardee AWS_TESTS_PROFILE had no effect and I didn't have this after init ( wasn't asked for this in the config ) weird is this used for the offline then tho?

[2016-05-17 09:09] ismarslomic commented on #40
I had same issue as well. Exporting the two env variables as suggested by @TomBarta  resolved the issue. I guess this is just an workaround, as credentials shall be retrieved from ~/.aws/credentials? If i is not an workaround, then documentation shall be updated

[2016-05-17 09:09] laardee commented on #40
@Aciid, that "AWS_TESTS_PROFILE" profile is for "tests" stage that I used. If you haven't created a stage `tests` there should not be such a profile. When you create a new stage with `sls stage create` it appends new profile mapping to the `admin.env`, so I don't think you need to manually change that file at all if you use serverless framework to create/init project.

[2016-05-17 10:31] laardee commented on #40
I just can't reproduce this issue. I created new stage that uses different credentials and everything works ok. I haven't exported either work or personal credentials with
[code]
I logged credentials in setup db and it prints out correct ones for each stage.

Which OS / Serverless version / AWS CLI version are you using?

[2016-05-17 13:36] ismarslomic commented on #40
@laardee do you have aws cli installed and have you done profile configuration as described here http://docs.aws.amazon.com/cli/latest/userguide/cli-chap-getting-started.html before installing serverless and creating new project? I have currently not installed aws cli, so that might be the issue?

[2016-05-17 13:44] ismarslomic commented on #40
Just to add another observation here: after exporting these two variables, admin.env doesn´t seem to be in use anymore. I opene admin.env and added an invalid value to AWS_DEV_PROFILE, but i still managed to run the function locally.

[2016-05-17 15:33] Aciid commented on #40
@laardee so if you run
`echo $AWS_ACCESS_KEY_ID` you get blank? Sorry for being so straight, but I'm just trying verify that you are not using the credentials from "AWS-CLI" standpoint (which we have verified now working)

My serverless-graphql version is "version": "0.0.4",
AWS-CLI  aws-cli/1.7.0 Python/2.7.10 Darwin/15.4.0
And yes os x.

[2016-05-17 15:50] laardee commented on #40
I'm away from the keyboard for couple hours, I'll get back to this issue later today.

[2016-05-17 17:14] erikerikson commented on #40
Making no commentary about this specific issue.

Given the credential loading questions here, you can review how that happens in this thread:
https://github.com/serverless/serverless/pull/740

Note that in specifying a profile you can declare a general AWS_PROFILE for use in all stages or a stage specific AWS_[STAGE]_PROFILE.

A later PR added support for ~/.aws/config:
https://github.com/serverle

[2016-05-17 19:11] ismarslomic commented on #40
I have following setup:
- Python 2.7.10
- Serverless 0.5.5
- OS X El Capitan (10.11.5)

I do not have installed AWS CLI.

[2016-05-17 19:16] laardee commented on #40
@ismarslomic yes, I had the aws cli installed beforehand and I probably used similar instructions when I configured the credentials. I have exactly same versions of python, serverless and os x installed.

[2016-05-17 19:18] ismarslomic commented on #40
Ok, so then I guess installing AWS CLI shall be prerequisite for this project in order to run functions with local database? By the way, how did you install AWS CLI on Mac? by use of pip or bundle, or?

[2016-05-17 19:19] laardee commented on #40
@ismarslomic with pip

[2016-05-17 19:38] laardee commented on #40
@Aciid `echo $AWS_ACCESS_KEY_ID` prints out empty line. I have little bit newer aws-cli installed `aws-cli/1.10.24 Python/2.7.10 Darwin/15.5.0 botocore/1.4.15`, I just updated it about a week ago, but it worked with older version as well. I don't remember which was the version I had previously, but it was installed maybe a 6 months ago.

[2016-05-17 19:46] ismarslomic commented on #40
@laardee: I have now installed AWS CLI (aws-cli/1.10.28 Python/2.7.10 Darwin/15.5.0 botocore/1.4.19), but only installing AWS CLI didnt help on this credential issue. Only after running `aws configure` I managed to run functions with local db successfully. However, executing `echo $AWS_ACCESS_KEY_ID` still prints empty line.

[2016-05-17 20:05] laardee commented on #40
@ismarslomic Everything works ok locally if credentials are set with `aws configure`?

[2016-05-17 20:12] ismarslomic commented on #40
@laardee yes. Im though not sure selection/creation of profile as part of `serverless project create` impacts or interacts together with AWS CLI profile configuration. As mentioned previously, if I change `AWS_DEV_PROFILE=222` (invalid profile name) in `admin.env`, Im still able to successfully run the function locally.

[2016-05-17 20:35] laardee commented on #40
There is some magic 🎩 🐇. I can also successfully run the project if I have correct AWS_[STAGE]_PROFILE but with invalid value.

[2016-05-17 20:43] ismarslomic commented on #40
But, if you try to deploy your function with invalid value in `admin.env` serverless will complain about unknown profile. So I guess that the aws profile mentioned in `admin.env` is used mainly in AWS and not locally. Would be great to have someone from the serverless team to confirm our assumptions here and also update README so it is more clear.

[2016-05-18 12:51] jesucarr commented on #40
@laardee I installed the boilerplate with `sls project install serverless-graphql`. I have not installed the AWS CLI.

[2016-05-18 14:54] anddimario commented on #38
+1

[2016-05-21 08:21] thond1st commented on #38
+1
I too have followed the installation and setup instructions but I can't seem to make it work offline.
I changed " export const API_URL = 'https://localhost:3000'; " in "client/src/app/js/actions/index.js". The amazonaws URL works but it interacts with the live DynamoDB instance. The instruction for this (API_URL) is also missing.

[2016-05-23 16:18] ChaosSmith commented on #40
Was having issues reading AWS credentials on OSX after initiating a project, checked the admin.env variable and found that the AWS_DEV_PROFILE was in quotes while on my ubuntu machine it was not. Removed the quotes and suddenly credential reading worked like a charm.

[2016-05-25 12:47] Glavin001 commented on #40
There's an ongoing issue with aws-sdk-js here: https://github.com/aws/aws-sdk-js/issues/692

[2016-06-06 22:02] swarthout opened #42 "use SNS for sending graphql queries"
I am not sure if this would work at all, but while working on a graphql project, I noticed that the API Gateway was not really being used much for a graphql project compared to a rest project. There is only one endpoint, and caching is not as useful due to the custom requests. Also, API gateway is relatively expensive compared to other parts of the serverless stack ($3.50 per million requests). I

[2016-06-10 15:55] purplecones opened #43 "Missing Authentication Token - GraphiQL"
I'm fairly new to GraphQL in general. I followed this repo and everything works as described but when I try to user the GraphiQL app, I run into authentication issues.

![graphiql_and_new_issue_ _serverless_serverless-graphql](https://cloud.githubusercontent.com/assets/136654/15970327/19e1db60-2f02-11e6-9e9c-b07210ec37b8.png)

Where do I get the Authentication Token and how do I use it to connect

[2016-06-12 00:39] shineli1984 commented on #20
When you use JWT in web context, size matters - the smaller the better. I think it maybe better to decode the jwt in authorize function and load up permissions from somewhere (database, permission file etc) then pass it as a context to graphql. Any thoughts?

[2016-06-15 03:31] ericvera opened #45 "Error running offline: Syntax Error GraphQL request (1:1) Unexpected EOF"
I ran into this issue when trying to work offline (both backend and front end). I was able to fix the issue by adding the content-type header. I see that this project is not using the latest version of serverless-offline and a change there could possibly address the issue. Otherwise the simple fix below would also unblock.

Before (not working):

[code]

After (working):

[code]

Error:

[code]

[2016-07-01 16:22] denneulin opened #47 "Bcryptjs uses sync functions"
Why do you use synchronous versions of bcryptjs functions ?

[code]

could be written

[code]

[2016-07-07 22:55] gebrits opened #48 "feature req: include cognito authentication"
Would love to see this boilerplate containing working setup for cognito userpools and/or cognito federated identities.

Would you consider this to be in scope?

[2016-07-08 05:00] pmuens commented on #48
Hey @gebrits thanks for the feedback and the great idea!

We're currently working on Serverless v1 (see: https://github.com/serverless/serverless/tree/v1.0) and plan to update the projects we have so that they run v1. We'll consider this when we start the work on the GraphQL boilerplate.

[2016-07-08 12:21] gebrits commented on #48
cheers. Looking forward!

[2016-07-08 22:28] janaka opened #49 "QUESTION: Any plans to support databases other than DynamoDB?"

[2016-07-10 15:55] darthtrevino opened #50 "Use Environment Variables to set API_URL"
It seems wrong to have to modify a Flux action to set the API root. This should probably be done through the webpack Define plugin:

[code]

In Actions/index:
[code]

[2016-07-10 19:32] pmuens commented on #49
Hey @janaka thank you for your questions!
We're currently working on Serverless v1 and are about to update our old repos. We'll consider your feedback when we start the update process for this one (PRs are welcomed! :-))

[2016-08-09 10:10] M1chaelTran opened #51 "HELP WANTED: Relay example"
Would be great if there's an example of this using **Relay** instead of Redux.

It would make more sense to use Relay with GraphQL than Redux IMO.

[2016-08-09 10:26] flomotlik commented on #51
We are planning to add more examples in the future including Relay, it will take a while though until we're ready to do that.

[2016-08-13 02:58] larsonjj commented on #43
Hey @purplecones,

I ran into the same issue. I found out (through looking at the client/frontend code) that you need to add a `/data` to the end of the url you passed in shown in your screenshot. Then you should have access to the data without the need for an auth token.

Hope this helps, cheers 🍻

[2016-08-18 03:52] ajcrites opened #52 "`sls project` does not work"
To get started, the docs say to install the `serverless` package and then run

    sls project install serverless-graphql

I've also tried with `sls -m my-project-name project install serverless-graphql`

This yields:

    Serverless Error ---------------------------------------

     command "project" not found, Run "serverless help" for
     a list of all available commands.

[2016-08-24 17:47] ChaosSmith commented on #52
A workaround for this is to revert to an older version of serverless, ```try npm install -g serverless@0.5.6```

[2016-09-13 07:50] darthtrevino commented on #45
I ran into this issue on a fresh installation, and it ended up being because the JSON payloads were being sent to the lambda function as "[Object object]". I had to update s-function.json

"requestTemplates": {
  ~~"application/json": "{\"query\" : $input.json(\"$\")}"~~
  "application/json": "{\"query\" : $input.body}"
},

[2016-09-13 15:49] darthtrevino commented on #32
How feasible would it be to flatten the directory structure? The top level client and back folders seem useless

    client
    └─── src
         └─── package.json
              <project files>
    back
    └─── api
         └─── package.json
               <project files>
    └─── events

==>

    client
    └─── package.json
         <project files>
    back
    └─── package.json
         <proje

[2016-09-16 05:33] darthtrevino opened #53 "Function Names are the Same between Stages"
I'm setting up an application that will have two stage: integration and production. Ideally, I would publish to integ, make sure it looks good, then publish to production.  I set that up using serverless-graphql, but the functions appear to be deploying _to the exact same resource_.

If there are two stages in a single region, shouldn't their functions be distinct?

[2016-09-16 05:38] #53 closed

[2016-09-16 05:39] darthtrevino commented on #53
I missed the Qualifier part of the AWS UI. My bad hombres

[2016-09-18 01:24] rafanami commented on #51
Yeah, but to use relay, the server needs to handle the variables as well.

[2016-09-18 12:17] GreenAsJade commented on #52
Yes - specifically, "project" is no longer supported, so the docs here need some update!

  https://github.com/serverless/serverless/issues/1841

[2016-09-19 04:11] tobias-sc commented on #51
@flomotlik Could you provide some indication when you could release an update graphql sample based on serverless 1.x?

Currently what would you recommend to use this repo as a base or rather use serverless rc 1.0 and integrate graphql ourself?

Thank you!

[2016-09-20 18:28] flomotlik commented on #51
@tobias-sc at the moment we don't have a timeframe to update this, so the best way forward is to use rc1 and integrate graphql directly. We've used it in one of our projects and its pretty straight forward.

[2016-10-06 08:52] tonyxiao commented on #52
Is there any plan to update this project to serverless 1.0?

[2016-10-06 19:34] nikgraf commented on #52
@tonyxiao yes, very soon 🙃

[2016-10-06 21:26] nikgraf commented on #51
Hey @tobias-sc, @rafanami & @M1chaelTran, we just updated the repository and added the setup for a Relay client. We are going to announce it later today. Please let us know if you have some feedback for us.

[2016-10-06 21:26] #51 closed

[2016-10-06 21:27] nikgraf commented on #52
@tonyxiao @ajcrites @ChaosSmith just merged in the setup to get started with serverless 1.0 + Relay. I'm curious what you guys think about this starter kit … ✨

[2016-10-06 21:27] #52 closed

[2016-10-06 21:27] nikgraf commented on #32
Resolved with the new structure. In case you have concerns about the new structure, please let me know.

[2016-10-06 21:27] #32 closed

[2016-10-06 21:28] nikgraf opened #55 "Better Deployment instructions"

[2016-10-06 21:30] nikgraf commented on #55
![deploy feedback](https://cloud.githubusercontent.com/assets/223045/19171420/6e271150-8bd1-11e6-9b49-e9fa88cac379.png)

[2016-10-06 21:30] #55 closed

[2016-10-06 23:07] tonyxiao commented on #52
@nikgraf what happened to offline / local server support btw?

[2016-10-07 00:09] M1chaelTran commented on #51
That's wonderful news @nikgraf 👍
Look forward to trying it out.

[2016-10-07 04:56] nikgraf commented on #50
@darthtrevino we re-did the whole project and don't have this code anymore. Let us know in case you have questions regarding the new version

[2016-10-07 04:56] #50 closed

[2016-10-07 04:57] nikgraf commented on #12
@brettstack since we reimplemented the whole project I will close this. Let us know if you have any questions regarding the new version

[2016-10-07 04:57] #12 closed

[2016-10-07 04:57] nikgraf opened #58 "Add Dataloader"

[2016-10-07 04:58] nikgraf opened #59 "Add cloud-front setup"

[2016-10-10 08:55] nikgraf commented on #52
@tonyxiao yet, there is no offline plugin in serverless 1.0, that's why this setup uses a local dev server to achieve the same thing

[2016-10-10 08:56] nikgraf commented on #51
@M1chaelTran looking forward to your feedback 👍

[2016-10-10 09:43] tonyxiao commented on #52
just checked with server-less offline project and it seems to be coming soon :) https://github.com/dherault/serverless-offline/issues/111

[2016-10-10 15:06] kfloz opened #60 "Python Equivalent for Serverless GraphQL"
Hi great stuff!  Loving learning grpahQL.

Will there be a python boiler plate equiv with Graphene and other similar libraries?

Thanks and nice work. :)

[2016-10-11 14:46] CapChrisCap opened #61 "Recomended way to split graphql API in different microservices"
Hello,

I would like to split my graphql API in different microservices. With REST this is quite easy because every route has its own microservice/lambda function. When using GraphQL, I have only one route/microservice, which has to handle the routing. Is there a recommended possibility in AWS to replace the normal routing GraphQL lambda function with a cheaper alternative in AWS?

For example:
qu

[2016-10-11 17:41] tobias-sc commented on #51
@nikgraf & team - thank you for the upgrade and release.
We decided to go with the old version 0.5.x + Redux earlier and do not consider Relay at this stage.

[2016-10-14 08:02] joshg111 opened #62 "What platform does this project support?"
Does this project work with windows? What is the recommended platform?

[2016-10-15 21:32] johncmckim opened #63 "Explanation of project"
Whenever I look at a boilerplate project, the three questions I always have are 'What is this?', 'Where is everything?' and 'What parts do I need to implement?'.

It would be awesome if those questions were explicitly answered in the `README`.  To help answer those questions, it could be helpful to have a simple diagram to show the architecture of the project. [draw.io](https://www.draw.io/) is a

[2016-10-15 21:47] johncmckim opened #64 "Alternative Architectures"
I have been trying out GraphQL with my own projects recently. It seems to me that there are two approaches to a GraphQL API:
1. Monolithic GraphQL handler
2. GraphQL Backend for Front End

This project takes the monolithic approach, which is probably best for a boilerplate. It's easier to manage but it does have downsides. Like any monolith, as this grows it will be harder to manage the GraphQL ha

[2016-10-21 19:15] nikgraf commented on #63
100% agree! I try to create some explanatory texts + diagrams in the next 2 weeks.

[2016-10-21 19:19] nikgraf commented on #64
@johncmckim spot on! We actually use this structure to follow the  Backend for Frontend approach. In face the frontend team members are responsible for the GraphQL layer. From database.js we trigger other Lambdas to fetch the data managed by the backend team members.

Why did you assume this follows the `Monolithic GraphQL handler` pattern? How would you structure it differently to make it more ob

[2016-10-21 19:21] nikgraf commented on #62
@joshg111 to be honest I haven't tried yet. I would assume it does, but need to check some of the package.json files to do so. Do you have a windows machine and want to use it?

[2016-10-21 19:22] nikgraf commented on #60
@kfloz I hope so at some point. For the time being I need to focus on other things. If you are interested to help out here let me know 😄

[2016-10-21 19:28] nikgraf commented on #61
You could create multiple GraphQL endpoint, but I wouldn't recommend it. Internally we actually have one Lambda to handle the GraphQL queries which in the resolve functions calls other Lambdas (which we structured as microservices). Yes, this is a bit more expensive and adds a small overhead in terms of performance, but we decided to go that route to increase developer productivity and have clear

[2016-10-21 20:26] joshg111 commented on #62
@nikgraf I just setup an Ubuntu station, I will try with that since it didn't seem to work with windows. Out of curiosity what platform would you recommend in general and what platform would you recommend for using serverless?

[2016-10-22 01:48] johncmckim commented on #64
@nikgraf Is there more than one lambda in the project? I can only see one lambda, `handler.graphql` in `api/serverless.yml`.

In `query.js` the `resolve` function does this `(_, _args, context) => db.getViewer({}, context),`. That looks like a database call to me.

I would structure it so that it had a frontend and two serverless services.

[code]

[2016-10-22 07:49] #61 closed

[2016-10-22 16:26] nikgraf commented on #64
@johncmckim In our case we actually have different repositories for it, but I like your proposal!

[2016-10-22 16:28] nikgraf commented on #62
@joshg111 serverless itself should work with any platform e.g. Linux, OSX, Windows. We just have been in a rush carving out the boilerplate and it wasn't one of my top priorities. Eventually also this starterkit/boilerplate should work on Window.s

[2016-10-23 08:47] johncmckim commented on #64
@nikgraf do you mean you do this in a real project or in this project? I can't see where this project uses `lambdaInvoke`. In `database/getViewer.js` it just returns a fake object.

I would 100% have each service in it's own repo for a normal project. But for a boilerplate it needs to be in one repo.

[2016-10-24 02:10] jamesmcintyre commented on #42
Sounds interesting! I too would be interested if this works. If it does, I'm sure you are sacrificing a lot of control and potentially security over the endpoint but maybe certain types endpoint would be fine.

[2016-10-29 09:22] sixtatami opened #67 "Invalid mapping expression specified: *"
Hi Nik, we talked on Gitter.

what did not work for me:

if I run the code exactly as you provided I get following error:

        Serverless Error ---------------------------------------

                An error occurred while provisioning your stack: ApiGatewayMethodGraphqlPost
                - Invalid mapping expression specified: Validation Result:
                warnings : [], errors : [In

[2016-11-01 23:34] dreadjr commented on #64
@johncmckim In BFF approach, would each microservice just be a lambda function or another graphql endpoint (a lambda function that accepts a graphql query) not necessarily an api gateway endpoint?

@nikgraf Are you saying there is another repo with other functions for this boilerplate?

[2016-11-01 23:47] johncmckim commented on #64
@dreadjr I don't think there is any strict rules about this. But I would just have my GraphQL BFF invoke lambda functions in another service. This provides encapsulation over the data being accessed and is less latency than going through API Gateway for internal services.

[2016-11-03 20:33] sixtatami commented on #67
ok, got it:
if I use this in the serverless.yaml, everythng works like a charm:

    - http:
        path: graphql
        method: post
        cors: true
        integration: lambda
        response:
            headers:
                Access-Control-Allow-Origin: "'*'"

cheers
a

[2016-11-03 20:33] #67 closed

[2016-11-05 13:15] beckeste commented on #62
Works with windows if you use the npm package "cross-env" (npm install -S cross-env), and change  "MOCKED_DATABASE=true" to "cross-env MOCKED_DATABASE=true" in the package.json.

[2016-11-05 15:37] tobkle commented on #67
Had the same issue. With these corrections it worked. Thanks

[2016-11-11 18:15] blandes commented on #67
+1

Everything works great after this.

[2016-11-28 11:45] samueljamesmarshall commented on #45
In my experience, this problems occurs when the event body is not parsed as JSON e.g.
[code]
An easy fix to this problem is to parse the event body in your [handler].js file before passing it to graphql:
[code]
The above will fix the event body, resulting in the following:
[code]
:)

[2016-12-03 10:40] nikhilag commented on #63
@nikgraf Did you get a chance to work on the text and diagrams?

[2016-12-06 01:48] scotttesler opened #71 "npm run deploy:frontend failing"
Node version 7.2.0
NPM version 3.10.9

`npm run deploy:frontend` is failing (`npm run deploy:api` is working).

[code]

[2016-12-17 18:30] Danjavia opened #72 "The specified bucket does not exist"
Please help me. I try to deploy serverless but this error appear when try to excecute

[code]
into **npm run deploy:api** step

here is the cli output

[code]

[2017-01-01 22:17] justinpincar commented on #71
I get this same error on codeship but not locally. Would love to know if you figured out what was causing it~

[2017-01-01 22:34] scotttesler commented on #71
@justinpincar I never figured it out

[2017-01-01 22:48] justinpincar commented on #71
@scotttesler Thanks for the update. I'll comment here if I learn anything more but since it does work locally for me additional troubleshooting isn't a priority right now.

[2017-01-05 20:11] kmjennison commented on #72
This can happen if you manually delete the S3 bucket rather than deleting it via Serverless/CloudFormation. See: https://github.com/serverless/serverless/issues/1877

[2017-01-12 04:32] jasonbahl commented on #43
I'm getting this same error with and without adding `/data` to the url.

I'm new to serverless so, I could be missing something. . .I've got things running fine locally, and the deploy appears to work ok, but when attemting a GET or POST request I get the same "Missing Authentication Token" message

[2017-01-16 01:25] nikgraf commented on #72
thanks for jumping in here and helping out @kmjennison 🙇

[2017-01-16 01:25] #72 closed

[2017-01-16 01:26] nikgraf commented on #71
interesting, I will upgrade all dependencies and hope that will eventually solve the issue … can you give it a try in a couple of days when I invested a bit more into this repo?

[2017-01-16 01:28] nikgraf commented on #60
Closing this for now so the issues are easier to manage! Still would love to see a python version though :)

[2017-01-16 01:28] #60 closed

[2017-01-16 01:56] nikgraf commented on #42
@swarthout that could work. I think the hard part is establishing and maintaining a connection to send data back to the client. AWS IoT websocket support could do that. Then you would end up with a really great event-driven architecture …

[2017-01-16 01:56] #42 closed

[2017-01-16 01:58] nikgraf commented on #45
From what I understood this is a legacy issue. Let me know if this still occurs …

[2017-01-16 01:58] #45 closed

[2017-01-16 01:59] nikgraf commented on #43
@jasonbahl I had a similar issue in the past, but can't remember how I solved that. I will work on this boilerplate the next couple days and if I run into it I get back to you …

[2017-01-16 02:00] nikgraf commented on #47
Closing this since it's related to the old version. Thanks for looking into it @denneulin

[2017-01-16 02:00] #47 closed

[2017-01-16 02:01] nikgraf commented on #48
@gebrits we shipped it about 3 months ago. let me know what you think 👍

[2017-01-16 02:01] #48 closed

[2017-01-16 02:01] nikgraf commented on #49
@janaka we shipped a version for v1 a couple months back, I'm curious what you think about it 👍

[2017-01-16 02:01] #49 closed

[2017-01-16 02:02] nikgraf commented on #20
Closing this since it's outdated :)

[2017-01-16 02:02] #20 closed

[2017-01-16 02:03] nikgraf commented on #34
Renamed it serverless-graphql-apollo and also opened up a Relay version :)

[2017-01-16 02:03] #34 closed

[2017-01-16 02:04] nikgraf commented on #35
@anddimario sounds interesting, but most probably not something to be part of a simple boilerplate. Happy to feature it though in the Readme in case you open source such a project 🙂

[2017-01-16 02:04] #35 closed

[2017-01-16 02:06] nikgraf commented on #38
Closing this issue, because it's outdated and works differently in v1 :)

[2017-01-16 02:06] #38 closed

[2017-01-16 02:06] #40 closed

[2017-01-16 02:07] #23 closed

[2017-01-16 02:07] nikgraf commented on #13
The current version allows to write you code in ES2015 🙌

[2017-01-16 02:07] #13 closed

[2017-01-17 04:24] Danjavia commented on #72
Not now :( I'm try again form zero but nothing happens. Thanks guys!

[2017-01-17 11:42] janaka commented on #49
Hi Nik, I'm personally not working on anything Lambda related at the moment but have been following the release at a feature level. Those I know who have been using it have been pretty happy with improvements. Also loving the pace of release. Keep up the good work.

[2017-01-17 13:02] nikgraf commented on #72
@Danjavia what do you mean by nothing happens?

[2017-01-17 13:02] nikgraf commented on #49
Thanks @janaka

[2017-01-17 14:25] Danjavia commented on #72
I have the same issue. And checking in s3 the bucket exists correctly. I don't know.

[2017-01-19 12:37] andreafalzetti opened #77 "Error on npm start"
I've just cloned this repo on my machine, following the docs int he readme I've installed all dependencies using yarn and started the application with npm, the `api/config.js` file is generated, but straight after that the app crashes because of the following:

[code]

Any idea of what is wrong?

[2017-01-19 16:03] gwhobbs commented on #77
I am getting the same error.

[2017-01-19 17:01] jthegedus commented on #77
I am also having this issue. It might be due to using Webpack 2 (of which v2.2 just released https://github.com/webpack/webpack/releases/tag/v2.2.0 ) but with errors in the webpack.base.js config during updating.

[2017-01-20 15:04] mpigsley commented on #77
I tried to get this to work. I followed the [migration guide](https://webpack.js.org/guides/migrating/) and [was able to make webpack happy again](https://github.com/serverless/serverless-graphql-apollo/compare/master...mpigsley:webpack-2).

The webpack errors are gone but I'm still seeing some non-specific errors when I try to load it up in the browser. I'll try to circle back around today and ge

[2017-01-21 03:36] jthegedus commented on #77
@mpigsley It works for me with your changes. I just pulled your webpack-2 branch and it ran fine. The only issue now is that the Webpack bundle isn't loading into the index.html. Again, I'm new to Webpack so am not clear where the error may be or if this is user error.

`api/config.js file was generated
[nodemon] 1.11.0
[nodemon] to restart at any time, enter `rs`
[nodemon] watching: *.*
[nodemon]

[2017-01-21 16:08] juhaelee commented on #77
@mpigsley did you ever figure out how to fix that issue?

[2017-01-21 17:17] juhaelee commented on #77
@mpigsley found out what the problem was, I guess webpack2 doesn't like nested values in `DefinePlugin`

If you change your define plugin to:
[code]

all should be well 👍

[2017-01-21 18:14] mpigsley commented on #77
Ahh, right you are @juhaelee !

I haven't been around this project long. Is this what it's supposed to look like?

<img width="1439" alt="screen shot 2017-01-21 at 12 12 45 pm" src="https://cloud.githubusercontent.com/assets/3017491/22176546/0769c8bc-dfd3-11e6-92fd-5c18c6f88772.png">

In the meantime, I'll get a PR up.

[2017-01-21 18:53] mpigsley commented on #77
Looks like moving postcss configuration in a `postcss.config.js` file in the root directory fixed the styling errors ^

[2017-01-21 20:15] jthegedus commented on #77
@mpigsley That looks right to me (at least from the last stable build I tried a couple weeks ago).

[2017-01-25 15:55] #77 closed

[2017-01-25 16:01] mpigsley commented on #71
@nikgraf @scotttesler this might be fixed with webpack 2 branch that went out. Mind trying again?

[2017-01-25 17:25] scotttesler opened #79 "SyntaxError: Unterminated regular expression (1:2)"
Node version 7.4.0
NPM version 4.0.5

[code]

[2017-01-25 17:26] scotttesler commented on #71
Building/running `master`, I am now getting a new issue: https://github.com/serverless/serverless-graphql-apollo/issues/79

[2017-01-26 09:49] andreafalzetti commented on #77
Amazing. Thanks guys!!

[2017-01-29 15:03] mpigsley commented on #79
@scotttesler Is it running now?

[2017-01-31 12:53] sixtatami opened #81 "classnames in html file not correct"
it seems the webpack is not including the class names correclty in the html. I can only guess that the HtmlWebpackPlugin is doing something wrong with the html. cant figure it out myself though

[2017-01-31 18:10] nfurfaro opened #82 ""Use mocked data" & "Use live data from the development environment""
I've managed to get this starter kit up and running fine. I can view locally using
`npm start`
and after deploying twice with
`npm run deploy`
 I'm able to see the live site using the new url with my bucket name.
`npm run start:remote` works fine as well at localhost3000.

My question is:
How can I change the data displayed? I've tried changing the name "Ada Lovelace" everywhere I can find it (in

[2017-02-22 23:41] SuttJ opened #83 "(On NPM Run Deploy) ServerlessError: not a valid key=value pair (missing equal-sign) in Authorization"
<img width="909" alt="screen shot 2017-02-22 at 6 40 18 pm" src="https://cloud.githubusercontent.com/assets/16503197/23238136/8a8ae144-f92e-11e6-870a-21ee784b0874.png">

[2017-03-12 23:45] andreimc commented on #81
hey @sixtatami I provided a PR that fixes this. I couldn't figure out the root cause, I believe it was something to do with packages

[2017-03-14 19:40] #81 closed

[2017-03-14 19:41] nikgraf opened #85 "Move Lambda to Lambda Proxy template and improve handling errors"

[2017-03-14 19:41] nikgraf opened #86 "Upgrade to Create-React-App after Webpack2 support is in"

[2017-03-14 19:42] nikgraf commented on #81
Thanks @andreimc 👏

[2017-03-18 01:10] andreimc commented on #64
@johncmckim I am quite interested in something like this do you have any examples?

Some questions:

* How do you split your services - how granular do you go ? eg. I have a bunch of services that require data from one another. Do you go minimal common denominator to show something useful to the user.

* What sort off contract to you enforce between graphql handler and each of the services is it a

[2017-03-24 05:59] #85 closed

[2017-03-24 05:59] nikgraf opened #88 "Introduce Prettier"

[2017-03-24 06:01] nikgraf opened #89 "Use react-create-app (or react scripts)"

[2017-03-24 16:19] marc-at opened #91 "graphql-relay"
Looks like you removed graphql-relay as a dependency.  I see that graphql/types/user.js still references it though:
[code]

I end up with the following error:

Is the plan to completely remove all use of relay?

[2017-03-28 12:11] johncmckim commented on #64
@andreimc we're working through some of these as we go.

*1. How do we split services.*
There's no one answer for this. Determining domain boundaries is one of the difficulties when creating microservices. I look at the data anything that needs direct access to the same data should be in the same service. Though it's not that simple as some services call other services to retrieve little bits of d

[2017-04-06 13:26] getglad commented on #62
I can confirm @beckeste fix

[2017-04-06 23:09] getglad commented on #62
I also had to change `cp ./app/favicon.ico ./build/frontend/favicon.ico` to `copy ./app/favicon.ico ./build/frontend/favicon.ico` on Windows. (I am also getting an "The syntax of the command is incorrect." when building the front end, but I think that is related to build issues, not Windows).

[2017-04-06 23:16] getglad opened #92 "build:api not including any graphql files"
This may be [another Windows only](https://github.com/serverless/serverless-graphql-apollo/issues/62) issue because no one else has reported it, but

`build:api": "npm run generate:config:prod && cross-env NODE_ENV=production babel --out-dir='api/graphql' --ignore='__tests__/*' ./graphql`

Results in my `graphql` folder being built into `'api/graphql'/...` instead of `api/graphql/...`, thus not ge

[2017-04-08 11:38] ctwhome commented on #82
![image](https://cloud.githubusercontent.com/assets/4195550/24828598/b4dc1bac-1c60-11e7-877f-70c9a7baf473.png)

[2017-04-14 11:19] flieks opened #93 "'MOCKED_DATABASE' is not recognized as an internal or external command"
Hi,

I cloned and installed the stuff (yarn), all went well.
Then `npm start`
right after
`api/config.js file was generated`
i get that error..
`'MOCKED_DATABASE' is not recognized as an internal or external command`

[2017-04-21 20:42] geirman commented on #91
I'm stuck dead in the water. Here's what I've done...

1. cloned the repo
2. `$ yarn`
3. `$ npm start`

And I get this output...

[code]

[2017-04-21 20:54] marc-at commented on #91
It doesn't look it is on the master branch yet.  The develop branch has the fix.  You can probably just paste the update from https://github.com/andykenward/serverless-graphql-apollo/commit/ca3cbc5c1ffc06519982ed3902a010020259af7d too.

[2017-04-21 21:34] geirman commented on #91
Worked perfectly, thanks @marc-at!

[2017-05-07 00:30] jona7o opened #94 "502 Error on Lambda"
Hi,

i have a Problem, when i deploy the project to my aws account.

Local -> Everything works fine.
AWS -> i get back 502 Internal Server Error.

When i test the AWS Lambda in the online console i get:

`Execution log for request test-request
Sun May 07 00:24:12 UTC 2017 : Starting execution for request: test-invoke-request
Sun May 07 00:24:12 UTC 2017 : HTTP Method: POST, Resource Path: /graphql

[2017-05-15 05:23] aprasad123456 commented on #43
Any update on the error ...Even I am also getting the same error when trying to connect an AWS RDS client

[2017-05-23 23:11] colllin commented on #91
You can also just `yarn add graphql-relay`

[2017-05-25 21:26] nikgraf commented on #91
just removed it in a cleanup PR https://github.com/serverless/serverless-graphql-apollo/pull/95

[2017-05-25 21:26] #91 closed

[2017-05-25 21:28] nikgraf commented on #72
hey @Danjavia - sorry for getting back so late. Did you eventually resolve the issue?

[2017-05-25 21:28] nikgraf commented on #71
Will switch to create-react-app and then this shouldn't be an issue anymore

[2017-05-25 21:28] #71 closed

[2017-05-25 21:29] nikgraf commented on #79
Will switch to create-react-app in a PR soon and then this shouldn't be an issue anymore.

[2017-05-25 21:29] #79 closed

[2017-05-25 21:30] nikgraf commented on #43
I didn't run into that issue since then. Sorry @aprasad123456

[2017-05-25 21:31] nikgraf commented on #94
hey Tobias, sadly I don't know that issue and don't have an idea why it's happening :(

[2017-05-25 21:32] nikgraf commented on #93
@flieks which operating system are you on?

[2017-05-25 21:33] nikgraf commented on #82
@nfurfaro did the screenshot from @ctwhome help?

[2017-05-25 21:33] #82 closed

[2017-05-25 21:33] nikgraf commented on #92
any suggestions how to fix it? I'm not too familiar with Windows.

[2017-05-25 21:34] nikgraf commented on #62
@beckeste interested to create a PR with the fix?

[2017-05-25 21:36] nikgraf commented on #83
😕 I haven't seen an error like that so far. @SuttJ did you eventually solve the issue?

[2017-05-25 21:36] #83 closed

[2017-05-25 21:53] nfurfaro commented on #82
Yes it did, and so sorry for not replying in a timely manner. Bad form on my part!

[2017-05-26 14:11] getglad commented on #92
I can submit a PR - it's a simple fix on Win10, if you can test on Mac OS

[2017-05-26 14:12] getglad commented on #62
@nikgraf I can submit a PR - it's a simple fix on Win10, if you can test on Mac OS

[2017-06-05 10:13] cdelgadob opened #96 "GraphQL authorization"
I am wondering how are you implementing authorization on a graphql endpoint in AWS.

My idea is to use Cognito Groups and match them with allowed queries/mutation per group in a custom authorizer lambda function.

Is this something reasonable?

It is important that the graphql lambda function is not hit by any unauthorized request.

[2017-06-05 11:20] cdelgadob commented on #96
Hi,
Before my post obviously I didn't read all the threads about it.
I guess the question now is: what is the status of this? I can't find any doc/post/code/example... ?
Thanks

Carlos

[2017-06-06 16:02] dalerka commented on #96
I'm also interested in this and welcome any advice. Here's some [relevant discussion](http://forum.serverless.com/t/dynamodb-graphql-server-authorization-and-permissions-how-to-get-it-right/1823).

[2017-06-09 01:26] Skaronator commented on #86
Webpack 2 support is in since 21 days. https://github.com/facebookincubator/create-react-app/releases

[2017-06-15 17:24] realadeel commented on #72
Try deleting the stack from CloudFormation and redeploying - that got me over this hump.

[2017-06-16 15:30] peXed commented on #93
@nikgraf hello. I get the same error and I am on Windows.

[2017-06-17 00:17] VinzentE opened #98 "Resolver for GraphQLList?"
Sweet contribution! I have most of it up and running and am loving the setup.

I did manage to **add several type definitions**. Now I wanted to move on to the **resolvers**, but got stuck:
I do understand the "viewer" resolver - thanks to the great example within the boilerplate.
Now i have added a couple of other fields below the viewer:{...} within query.js - some of them are **ListTypes** - e.

[2017-06-17 03:13] MeixnerTobias commented on #93
@flieks @peXed
The command won't work in Windows so you either move MOCKED_DATABASE into webpack or

npm install --save-dev cross-env

and then change start command in package.json to:

"start": "npm run generate:config:local && cross-env MOCKED_DATABASE=true env-cmd foundation/environment/security.env.local nodemon ./foundation/devServer --ignore app --exec babel-node",

[2017-07-01 09:50] kevupton commented on #94
+1
Managed to solve this using

[code]
This leads me to believe that it is to do with the lambda proxy expecting a different response.
And therefore getting a malformed lambda proxy response error.

[2017-07-01 17:13] morgs32 commented on #61
@nikgraf have an example? I'm wondering how you break out the query and ship it to another graphql server

[2017-07-04 16:22] exbarboss opened #99 "Readme update"
Readme missing prerequisite for having **awscli** installed in the system. Otherwise `npm run deploy` fails.

[2017-07-05 01:29] dalghost opened #100 "Unknown deploy error"
### Complite Deploy
[code]

### Error Deploy
[code]

[code]

[2017-07-05 04:49] dal2 commented on #100
### fail
reboot
re create Access Keys

### complite
only waitting 1~3hour and "npm run deploy"

i don't understand this effect

[2017-07-05 05:00] dal2 commented on #100
#1877

[2017-07-05 07:33] goocastro commented on #43
Same error here.
I'm running the example application with

    functions:
      index:
        handler: handler.hello
        events:
          - http: GET hello

It generates me an URL which returns only

    message	"Missing Authentication Token"

Not the json I get from running the app on terminal

[2017-07-17 23:00] nickwood2009 commented on #43
Any updates on this? I am getting the exact same issue

[2017-07-30 14:32] joshhornby commented on #43
I too am having this issue, any updates on what the token should be?

[2017-08-05 21:53] EmiPC commented on #92
Did you manage to solve this incompatibility with windows?

[2017-08-06 14:58] EmiPC commented on #62
@beckeste or @getglad, did you make this project work on Windows? I've did several changes but I'm still getting several errors when doing "npm run deploy".

[2017-08-06 15:30] EmiPC commented on #62
Well, I've solved it by adding C:\Program Files\Git\usr\bin to my %PATH% and the issue disappeared (it adds support for commands not supported, like "cp").

[2017-08-06 16:14] EmiPC commented on #43
Same issue here...

[2017-08-08 02:54] markfranco commented on #43
Hey guys, was having this issue the pass hour.

[code]

I was testing this in Postman, and if I was trying to make a Get request on the path grapghql, it would throw me that error of "Missing Authentication Token". So if method doesn't exist that's the error you would more likely to see.

I had to look into cloud watch and it gives me a more descriptive message.

After logging everywhere I notice

[2017-08-09 08:15] str3tch opened #101 "405 error.. looks like malformed request url"
hey

I've followed the instructions and deployed to production, but when I view it, there's a 405 error for the POST to the lambda endpoint. It doesn't look correct, see here:

![image](https://user-images.githubusercontent.com/1896276/29111416-bc3137b2-7d1c-11e7-99b4-2a152e99c29b.png)

I set the URL in security.env.prod correctly I think?

`URL="https://k6e3zyqa61.execute-api.us-east-1.amazonaws.

[2017-08-16 20:29] joshhornby commented on #94
Same error for me, changing the `integration: LAMBDA` throws an error for me:

[code]

[2017-08-16 20:41] joshhornby commented on #94
I followed this article and seems to be working http://davin.ninja/using-aws-lambda-with-amazon-api-gateway/

The key point is not using `callback(null, createResponse(200, response)))`

[2017-08-18 09:34] david-potgieter commented on #101
hey @str3tch - not sure if you have fixed it, but remove the `"`, so:
`URL=https://k6e3zyqa61.execute-api.us-east-1.amazonaws.com/production/graphql` < - should work.

[2017-09-08 23:02] scotttesler commented on #43
@markfranco Didn't work for me :/

[2017-09-19 02:55] sid88in commented on #86
https://github.com/serverless/serverless-graphql-apollo/pull/102 should address this

[2017-09-19 02:56] sid88in commented on #89
https://github.com/serverless/serverless-graphql-apollo/pull/102 should address this

[2017-09-22 21:08] nikgraf opened #103 "Changes needed after rewrite"
@sid88in in case you pick one best to put your name next to the task before getting started. This way we don't work on the same things.

- [x] move `app-server` to root and rename to `app-backend` (Sid: https://github.com/serverless/serverless-graphql-apollo/pull/109)
- [x] remove express (Nik: https://github.com/serverless/serverless-graphql-apollo/pull/104)
- [x] remove command `npm run build:no

[2017-09-22 22:24] #89 closed

[2017-09-22 22:25] #86 closed

[2017-09-22 22:29] sid88in opened #108 "Add Travis Build for Serverless Repo"
Lets this about having a travis build or some other way of doing CI/CD

[2017-09-22 22:30] sid88in commented on #101
@str3tch is this issue resolved? We have updated this repo. can you please try again?

[2017-09-22 22:31] sid88in commented on #101
Your apollo client must have the right remote URL.

[2017-09-22 22:32] sid88in commented on #98
@VinzentE we have changed the code base introduced Apollo Lambda Server (deprecated GraphQL-js). You can see example in resolvers.js and see how its integrated in handler.js https://github.com/serverless/serverless-graphql-apollo/pull/102

[2017-09-22 22:33] sid88in commented on #93
invalid with new code base https://github.com/serverless/serverless-graphql-apollo/pull/102

[2017-09-22 22:34] sid88in commented on #88
@nikgraf what are looking for here? can you please explain a little bit ;)

[2017-09-22 22:35] sid88in commented on #63
@johncmckim hopefully https://github.com/serverless/serverless-graphql-apollo/pull/102 resolves this issue to certain extent. We have added new diagrams etc.

[2017-09-22 22:52] nikgraf commented on #108
Absolutely!

[2017-09-23 03:24] #93 closed

[2017-09-23 03:30] sid88in commented on #94
@jona7o good to go?

[2017-09-23 15:31] sid88in commented on #92
@getglad going to close this issue. The code base has changed. Feel free to re-open the issue if you still see it.

[2017-09-23 15:31] #92 closed

[2017-09-23 15:55] nikgraf commented on #88
@sid88in ideally we use a Eslint setup that complies to what create-react-app ships with excluding the JSX part. This way we can also introduce Prettier https://github.com/prettier/prettier and have consistent code-base.

[2017-09-23 17:00] sid88in commented on #100
@dalghost these errors should go away now. Please try again.

[2017-09-23 17:00] #100 closed

[2017-09-23 18:30] sid88in commented on #99
@exbarboss @nikgraf https://github.com/serverless/serverless-graphql-apollo/pull/109 should address this

[2017-09-23 18:30] #99 closed

[2017-09-23 18:35] sid88in opened #110 "Add Jest Unit Test Integration + Tests for Client and backend"

[2017-09-23 18:41] #101 closed

[2017-09-23 18:42] #98 closed

[2017-09-23 18:43] #63 closed

[2017-09-23 18:44] sid88in commented on #63
@johncmckim we have updated README with comprehensive explanations and diagrams. Feel free to contribute more ;)

[2017-09-23 18:47] sid88in commented on #96
@dalerka @cdelgadob its a vaid concern. Looks like AWS provides different ways to authenticate AWS API Gateway http://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-control-access-to-api.html

We can design/prioritize this in coming days.

[2017-09-23 18:51] #94 closed

[2017-09-23 20:21] sid88in commented on #43
https://github.com/serverless/serverless-graphql-apollo/pull/111 should address all of this.

Closing this issue.

[2017-09-23 20:21] #43 closed

[2017-09-23 20:26] sid88in commented on #59
@nikgraf do we still need this?

[2017-09-23 20:30] #62 closed

[2017-09-23 20:35] sid88in commented on #64
@nikgraf @johncmckim this is great discussion. I think our restructuring follows this approach already now? We can create different microservices or lambdas (as shown in system architecture diagram in readme) and then implement a resolver to fetch data from these services. If thats correct maybe we can close this issue?

[2017-09-23 20:37] sid88in opened #112 "Write Resolvers for REST API, DynamoDB, Lambda"

[2017-09-23 20:37] sid88in opened #113 "Implement Pagination (Client side and Server side)"

[2017-09-23 20:45] sid88in commented on #113
Reference https://dev-blog.apollodata.com/tutorial-pagination-d1c3b3ee2823

[2017-09-23 20:46] sid88in opened #114 "Implement GraphQL Mutations"

[2017-09-23 20:48] sid88in commented on #103
https://www.sitepoint.com/yarn-vs-npm/ looks like yarn wins here

[2017-09-23 20:50] sid88in commented on #96
Also some info here http://dev.apollodata.com/react/auth.html

[2017-09-24 07:50] nikgraf commented on #103
@sid88in this analysis is outdated since npm has lockfiles as well now. Nevertheless it's fine to go with yarn from my perspective

[2017-09-24 07:50] nikgraf commented on #110
Let's go with Jest

[2017-09-24 08:09] nikgraf opened #118 "Systems architecture graphic"
@sid88in can you restructure it so the resolvers are in one row with the graphql endpoint? I believe this makes it easier to understand the Graphic

What I mean
[code]

[2017-09-24 08:17] nikgraf commented on #112
I was thinking about something simple e.g. a Weather App to manage your favourite cities and receive weather information for that.

- There could be a query resolver just returning with cities the user can select (this list could be a simple JSON).
- One more query resolver would be a wrapper around a real weather HTTP endpoint to fetch weather data for a city.
- Then there could be one mutation w

[2017-09-24 08:52] nikgraf commented on #108
Solved with this PR https://github.com/serverless/serverless-graphql-apollo/pull/119

[2017-09-24 08:52] #108 closed

[2017-09-24 11:54] nikgraf opened #120 "Implement Persistent GraphQL Queries when shipping to production"
see https://dev-blog.apollodata.com/persisted-graphql-queries-with-apollo-client-119fd7e6bba5

[2017-09-24 12:44] nikgraf commented on #61
@morgs32 sorry. Missed that. Unfortunately I don't have anything I can share with you 🙁

[2017-09-24 12:46] nikgraf commented on #59
I'm closing this, but might re-open it in case I have time for it.

[2017-09-24 12:48] nikgraf commented on #64
@johncmckim are you still using serverless-transceiver?

[2017-09-24 12:49] nikgraf commented on #64
In general my opinion nowadays is to start simple and only fan out to microservices once the endpoint grows to big. Lambda microservices can cause long waiting times when cold-starts are involved.

@johncmckim what's your experience?

[2017-09-24 14:44] sid88in commented on #112
thanks @nikgraf sounds good to me.

[2017-09-24 15:07] sid88in commented on #61
@nikgraf @morgs32 for multiple graphql endpoints you might wana to look at : https://dev-blog.apollodata.com/graphql-schema-stitching-8af23354ac37

[2017-09-24 15:09] #59 closed

[2017-09-24 21:59] nikgraf commented on #61
Totally!

[2017-09-24 22:16] sid88in commented on #58
+ prefetching dev.apollodata.com/react/prefetching.html

todo: research on prefetching and dataloader (same or totally different concepts)

[2017-09-25 03:25] sid88in opened #121 "Aggregations"
Aggregations is a controversial topic.

1. In general key value data stored does not provide aggregations at query time.

2. For a smaller subset of data it doesn't matter (metrics can be aggregated at client end or server end) preferably at server end (in a separate lambda?) but it matters when we are querying across millions or billions of records (big data?).  Writing queries against relational

[2017-09-25 12:44] sid88in opened #122 "DynamoDB Integration with Serverless Offline"
Reference:
https://www.npmjs.com/package/serverless-dynamodb-local

[2017-09-25 12:47] sid88in opened #123 "Swagger Integration with Serverless"
In AWS CF we can integrate swagger api using this:
[code]
1. How can we integrate the same in serverless? Any example?
2. How can we simulate API Gateway locally using serverless offline? Any serverless plugin? My swagger api has a proxy for dynamodb.

[2017-09-25 12:50] sid88in opened #124 "WEATHER APP Schema"

[2017-09-28 03:57] sid88in opened #125 "Implement Query Batching"
Reference: https://dev-blog.apollodata.com/query-batching-in-apollo-63acfd859862

[2017-09-28 04:11] sid88in commented on #103
above task to figure out configs should eventually address https://github.com/serverless/serverless-graphql-apollo/pull/126

[2017-09-28 13:37] Birowsky opened #127 "bug: backend `/graphiql` fails"
As things currently are, I cannot work with the `graphiql` interface from the backend. Didn't touch anything in the codebase, just ran: `yarn run start-server-lambda:offline`

<img width="1440" alt="screen shot 2017-09-28 at 15 35 44" src="https://user-images.githubusercontent.com/3199950/30969448-b3eb0c96-a462-11e7-962f-07ebdbfc0405.png">

<img width="1440" alt="screen shot 2017-09-28 at 15 38 10

[2017-09-28 20:10] sid88in commented on #127
@Birowsky https://github.com/serverless/serverless-graphql-apollo/pull/126 should address this

[2017-09-28 20:18] Birowsky commented on #127
@sid88in looks like

[2017-09-28 20:18] #127 closed

[2017-09-28 20:19] nileshdt commented on #127
Thanks @sid88in

[2017-09-28 20:57] sid88in commented on #123
Evaluating https://github.com/9cookies/serverless-aws-documentation as recommended by Gareth on Gitter! Thanks Gareth.

[2017-10-07 22:31] sid88in commented on #123
This integration works without serverless pluigns. I'll include the feature in future PR's

[2017-10-07 22:31] #123 closed

[2017-10-07 22:48] sid88in opened #129 "Serverless Deploy - Bucket Name"
Serverless deploy creates a bucket automatically and uploads serverless contents in that bucket. How can we specify which bucket to upload files to during deployment.

[2017-10-07 23:09] sid88in commented on #129
fixed : https://serverless.com/framework/docs/providers/aws/guide/deploying/#tips

[2017-10-07 23:09] #129 closed

[2017-10-09 04:00] sid88in commented on #96
@nikgraf I have implemented Cognito User Pool Authentication on my local branch. Will create a PR on this soon. 2 Problems trying to solve now after authenticating my endpoints : 1) how to pass token to graphiQL endpoint  2) my resolver now has a rest wrapper and this rest endpoint is also secured, so my POST request to graphql endpoint must pass authorization header token value to resolver and an

[2017-10-09 04:09] sid88in commented on #96
well 1) got resolved :) I added chrome plugin to add auth header (now client can generate token which is valid for 1 hour and then set this in the chrome header) and graphiQL works!

Looking into 2)

[2017-10-09 04:13] sid88in commented on #121
@nikgraf I have been able to write aggregation function in resolver using hashmaps for basic aggregations (for now). Next is to do a POC on MYSQL and Druid. I'll keep adding stuff related to this in coming days!

[2017-10-09 04:15] sid88in commented on #122
@nikgraf I played with this and was able to get some headway! One problem is that I am not 100% clear in case of API Gateway + Proxy to Dynamo DB how to simulate this locally. I was able to insert data in dynamo db locally but was confused on how to simulate API Gateway (my API Gateway has a proxy to dynamodb in request mapping template)

[2017-10-09 04:15] sid88in commented on #124
@nikgraf I suggest we take twitter use case (its more generic and scalable). What say!?

[2017-10-09 04:17] #124 closed

[2017-10-09 04:17] sid88in commented on #112
@nikgraf I suggest we take twitter use case (its more generic and scalable). What say!? Plus there must be some rest endpoints we can wrap graphql around them as well.

For now I have written resolver to wrap existing REST ENDPOINT and will add to master in coming days!

[2017-10-10 15:51] sid88in commented on #96
OK resolved 1) and 2)

unfortunately there is no serverless plugin to mock cognito
https://github.com/dherault/serverless-offline/issues/264

[2017-10-11 02:15] sid88in commented on #96
OK great! this works https://github.com/dherault/serverless-offline/issues/118

[2017-10-11 13:05] buggy commented on #96
I think it's import to consider authentication and authorization as two different problems.

Authentication is how someone proves who they are to the GraphQL server. The most common approach here is to include an Authorization header with a token (for example a JWT).

My personal feeling on using authorizers (either custom or Cognito) with the API GW is that they're great in a REST environment whe

[2017-10-13 21:29] #88 closed

[2017-10-14 18:15] sid88in commented on #110
https://github.com/serverless/serverless-graphql-apollo/pull/133 closed this

[2017-10-14 18:19] #110 closed

[2017-10-15 17:14] sid88in commented on #96
@buggy thanks for your valuable inputs. I completely agree that authentication and authorization as two different problems and must be handled differently (also explained here https://dev-blog.apollodata.com/a-guide-to-authentication-in-graphql-e002a4039d1 and https://dev-blog.apollodata.com/auth-in-graphql-part-2-c6441bcc4302). https://github.com/serverless/serverless-graphql-apollo/pull/130 deal

[2017-10-16 03:30] sid88in commented on #112
@nikgraf https://github.com/serverless/serverless-graphql-apollo/pull/134 addresses this ticket

[2017-10-16 13:26] nikgraf commented on #58
It's quite different. Dataloader helps to avoid duplicated request

For example when fetching a list of projects with the author the author could be the same. Instead of doing 10 requests to fetch the author with dataloader we can make sure to fetch only one. In fact dataloader will fetch all the authors and properly inject them to the right project.

[2017-10-16 13:30] nikgraf commented on #122
@sid88in from what I understand there is no need to do any integration. You just need to instantiate a different document storage location as described here https://github.com/99xt/serverless-dynamodb-local#using-dynamodb-local-in-your-code

[2017-10-16 13:43] nikgraf commented on #96
What I have done so far is:

I used a JWT to authenticate users. The JWT is placed in the `authorization` header, which is parsed in the graphQL handler. The auth token is then passed into the graphQL root and therefor accessible in every resolvers. Resolvers (can be at the GraphQL type level or in a remove Lambda function are responsible) to check if this auth token is authorized to execute the r

[2017-10-16 13:52] nikgraf commented on #121
Want to make sure we are aligned here. Can you give me an aggregation example?

[2017-10-16 14:21] sid88in commented on #122
hmm..maybe. For example: we can create API Gateway with Dynamo Proxy as described here: https://aws.amazon.com/blogs/compute/using-amazon-api-gateway-as-a-proxy-for-dynamodb/

So, now we create dynamo db on local and insert data (everything is good) but next step is to hit this API and fetch data from local dynamodb. I'll do some testing (didn't spend much time on this)

[2017-10-22 18:10] sid88in commented on #121
Yes let me explain with an example:

`
JobID Location DeviceType Clicks Impressions Conversions
1           1
2           2
3           4
4           10
...          ...
1M       43
..           ..
10M     199
..          ..
1B        10
`

[2017-10-25 16:04] sid88in opened #136 "Apollo Tracing"
Investigate if we can implement Apollo Tracing in Serverless:

Reference:
https://dev-blog.apollodata.com/introducing-apollo-engine-insights-error-reporting-and-caching-for-graphql-6a55147f63fc
https://www.apollographql.com/docs/engine/setup-node.html

[2017-10-25 19:05] sid88in opened #137 "Implement Schema Stitching"

[2017-10-28 02:56] sid88in opened #138 "Fix Documentation - Better Onboarding"

[2017-10-28 03:34] sid88in opened #139 "Restructure Repo - Templating"

[2017-10-28 03:35] sid88in opened #140 "Migrate Apollo 2.0"

[2017-10-28 03:35] sid88in opened #141 "Update GraphQL Packages"

[2017-10-29 05:37] sid88in commented on #103
@nikgraf 90% of the issues were completed in this list except - re-add instructions how to deploy the front-end. As we discussed we are going to add front-end options for production deployment, so going to create a separate issue for that.

[2017-10-29 05:37] #103 closed

[2017-10-29 05:37] sid88in opened #144 "Deploy Front End using Netlify"
@nikgraf

[2017-10-29 15:34] sid88in opened #145 "Add descriptions for each field in the query"

[2017-10-29 15:35] sid88in opened #146 "Implement GraphQL Fragments"

[2017-10-29 15:35] sid88in opened #147 "Implement GraphQL Subscriptions"

[2017-10-29 15:50] sid88in opened #148 "Plugins for Google Cloud, Azure and IBM Cloud"

[2017-10-29 21:58] sid88in opened #149 "Fix Travis Build Errors"

[2017-10-29 22:00] sid88in opened #150 "Build Integrations with GraphCool Framework"
1. Use GraphQL Electron APP
2. Integrate GraphCool CRUD API with Serverless GraphQL API Gateway.

[2017-10-29 22:02] sid88in opened #151 "Deploy FrontEnd Using Netlify"

[2017-11-01 14:08] sid88in opened #154 "Integrate GraphQL Playground"

[2017-11-02 19:02] sid88in commented on #154
https://github.com/serverless/serverless-graphql-apollo/pull/155 handles this

[2017-11-03 15:09] sid88in commented on #154
done!

[2017-11-03 15:09] #154 closed

[2017-11-04 21:02] iamclaytonray opened #156 "Extract private keys from repo"
Hey... I'm not sure if the keys in `config/` are real but I recommend ignoring the entire `config` directory from git. Maybe make an example config directory and replace those keys with placeholders. This also helps with DX because I know I personally would think those were my keys due to my horrible memory. If this is something you'd accept a PR for, let me know and I'll shoot it over right away

[2017-11-04 21:07] iamclaytonray opened #157 "Format variables to camel case instead of snake case"
It's not very conventional to throw `snake_case` in JavaScript. The preferred/conventional method is `camelCase`. This casing style can be found in places like <a href="https://github.com/serverless/serverless-graphql-apollo/blob/master/app-backend/schema.js">the GQL Schema</a> and the <a href="https://github.com/serverless/serverless-graphql-apollo/blob/master/app-client/src/components/User.js">U

[2017-11-04 22:41] sid88in commented on #156
@iamclaytonray thanks for your feedback. I agree that we should iterate on how configs are stored and read in the framework. The configs given in the repo can be used to kickstart the project quickly so that people don't have to go through the pain of creating their own twitter consumer and secret key. Feel free to create your own keys if you want.

Having said that if you have a better way to han

[2017-11-04 22:43] iamclaytonray commented on #156
I’ll hack something together when I get home

On Sat, Nov 4, 2017 at 6:41 PM Siddharth Gupta <notifications@github.com>
wrote:

[2017-11-04 22:43] iamclaytonray commented on #156
I’ll hack something together when I get home

[2017-11-04 22:43] iamclaytonray commented on #156
Whoops, sorry 🙄😅

[2017-11-12 05:59] sid88in commented on #138
@nikgraf I did couple of iterations on this! We can still make it better but for now looks good to me. Feel free to edit the readme.

[2017-11-12 05:59] #138 closed

[2017-11-12 12:05] danbruder commented on #140
See https://github.com/serverless/serverless-graphql-apollo/pull/162 for Apollo 2.0 initialization. Seems that dependencies already specify 2.0.

[2017-11-12 13:11] danbruder commented on #96
@nikgraf I love that approach because it doesn't tie you to an underlying service. Can you post an example?

[2017-11-12 13:32] sid88in commented on #96
@danbruder in the mean time you might want to look at few examples as open PR's for the same. In addition Ryan gave a wonderful talk at GraphQL Conference this year https://github.com/chenkie/graphql-auth

[2017-11-12 17:29] danbruder commented on #96
@sid88in thanks a lot!

[2017-11-12 22:36] sid88in commented on #122
https://github.com/serverless/serverless-graphql-apollo/pull/163/files closed this PR. Dynamodb integration tested

[2017-11-12 22:36] #122 closed

[2017-11-12 22:37] sid88in commented on #139
https://github.com/serverless/serverless-graphql-apollo/pull/163/files is the first step towards it!

idea is that each backend solution will have a separate template/handlers/resolved in app-backend. I think there is some code duplication which can be handled by extracting out common components into a single folder and each backend solution maybe have resolver only.

[2017-11-13 02:48] sid88in opened #166 "Explore EventGateway"
https://github.com/serverless/event-gateway

[2017-11-13 02:49] #140 closed

[2017-11-13 02:50] #144 closed

[2017-11-13 02:51] sid88in commented on #141
done both for front end and back end

[2017-11-13 02:51] #141 closed

[2017-11-13 02:51] sid88in commented on #118
done

[2017-11-13 02:51] #118 closed

[2017-11-13 17:22] sid88in commented on #151
assigned to @pradel

[2017-11-13 17:22] sid88in commented on #149
assigned to @pradel

[2017-11-13 17:23] sid88in opened #167 "Enhance Readme with more instructions"
assigned to @pradel

[2017-11-13 17:24] sid88in commented on #151
+ Also beautify frontend a bit using css and react!

[2017-11-13 22:30] sid88in commented on #149
done

[2017-11-13 22:30] #149 closed

[2017-11-13 22:34] #112 closed

[2017-11-25 02:44] sid88in opened #173 "Swagger Integration design"
Use Case:

A user wants to build his/her own micro service (instead of using existing endpoint like twitter). In this case, we can use [swagger](http://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-swagger-extensions.html). This endpoint can have dynamodb integration using aws proxy explained [here](https://aws.amazon.com/blogs/compute/using-amazon-api-gateway-as-a-proxy-for-dyn

[2017-11-25 02:45] #167 closed

[2017-11-25 02:47] #139 closed

[2017-11-25 03:07] sid88in opened #174 "Elasticsearch Integration"

[2017-11-25 03:12] sid88in commented on #173
maybe use https://github.com/temyers/serverless-localstack

[2017-11-25 16:16] sid88in opened #176 "mysql and postgres integration"

[2017-11-25 16:16] sid88in commented on #176
@pradel has been doing some research on this.

[2017-11-25 16:29] sid88in opened #177 "config driven"
make this entire project config driven (frontend, backend, serverless.yml's etc)

[2017-11-25 17:17] #151 closed

[2017-11-25 17:36] sid88in opened #178 "fix readme"
1. replace cd app-client/rest-api to cd app-client/
2. fix newly added screenshots

[2017-11-25 20:24] #178 closed

[2017-11-27 01:13] sid88in opened #180 "GraphQL Yoda"
Implement new graphQL server https://github.com/graphcool/graphql-yoga once AWS Lambda support is available.

[2017-11-27 01:15] sid88in commented on #136
Tracing is introduced in new version of GraphQL Playground https://github.com/graphcool/graphql-playground/releases/tag/v1.2.0

[2017-11-27 09:34] sid88in opened #183 "APIGWRole role fix in Dynamodb serverless"

[2017-11-27 09:35] sid88in opened #184 "Remove GraphiQL Integration"
simplification

[2017-11-27 09:36] sid88in opened #185 "Remove unused dependencies"

[2017-11-27 09:36] sid88in opened #186 "Automate the pulling of backend API using finch"

[2017-11-27 09:36] sid88in opened #187 "Add AWS Xray Integration"

[2017-11-27 15:24] sid88in opened #190 "remove graphiql gif and write 1 line in readme about why playground and not graphiql"

[2017-11-27 16:40] sid88in commented on #136
we need to update graphql playground package - https://github.com/graphcool/graphql-playground#as-serverless-handler

[2017-11-27 20:33] JstnEdr opened #191 "GraphQL Playground loading error"
I'm getting a couple errors while trying to access the GraphQL Playground. I've replicated this error with a modified project, as well as a new clone of the repo.

After following the instructions to get the app running locally, I go to http://localhost:4000/playground and see "Loading GraphQL Playground" in the browser. The console has two errors: `Failed to load resource: net::ERR_CONTENT_DECODI

[2017-11-27 20:55] sid88in commented on #191
hey @JstnEdr thanks for reporting it. It might be because of

1) https://github.com/serverless/serverless-graphql-apollo/issues/136 - the npm package for graphql playground has changed.

2) We have been actively making changes since yesterday and that might have broken something.

I'll try best to get to the bottom by tonight! If you find the solution, feel free to submit a PR.

thanks
Sid

[2017-11-28 04:12] sid88in commented on #191
hey @JstnEdr

I just removed all yarn dependencies from my local and reinstalled everything and it works fine (please see below). Can you please re-clone this repo and do : yarn install to install all dependencies. Let me know if it still doesn't work?

<img width="1396" alt="screen shot 2017-11-27 at 8 10 40 pm" src="https://user-images.githubusercontent.com/1587005/33302158-1692769c-d3af-11e7-98

[2017-11-28 11:32] Derya00 commented on #94
If a method is  Lambda proxy integration  then the response body is expected to be JSON object. I had the same issue as I was using JSON.stringify(result) where result was a JSON object.  I don't explicitly specify the integration on the serverless.yml  however test run on aws shows :100:
Endpoint request headers: {x-amzn-lambda-integration-tag=test-request

After changing request to result my met

[2017-11-28 12:18] #190 closed

[2017-11-28 16:30] JstnEdr commented on #191
Thanks for the help. I tried deleting the node_modules folder and the yarn.lock file before reinstalling with `yarn install` but I'm still not getting the Playground to work.

<img width="1440" alt="screen shot 2017-11-28 at 10 28 07 am" src="https://user-images.githubusercontent.com/385060/33331395-145e6962-d427-11e7-845e-20b340271c4c.png">

[2017-11-28 19:43] sid88in commented on #191
@JstnEdr how about quick skype call? if you can reach out to me at https://twitter.com/sidg_sid
we can debug it together ;)

thanks
Sid

[2017-11-28 22:54] jthegedus opened #195 "Add AWS AppSync Integrations"
AWS just announced their own serverless GraphQL service which provisions DynamoDB from the schema and Lambda for custom resolvers as well as support for subscriptions (but completely managed so also serverless-ly). - see https://aws.amazon.com/blogs/aws/introducing-amazon-appsync/

Their client SDK - https://github.com/awslabs/aws-mobile-appsync-sdk-js - is also built on Apollo with apollo-link be

[2017-11-28 22:59] sid88in commented on #195
Right on! 👍

AWS has scheduled 2 sessions today on GraphQL in re-invent and I am actually outside the conference hall waiting to get in :D Excited to see what they are doing and how we can combine it in our current stack !!

[2017-11-29 09:25] sid88in opened #197 "Access Denied for S3 bucket"
@pradel can you please help take a look at this?
thanks
Sid

<img width="789" alt="screen shot 2017-11-29 at 1 24 25 am" src="https://user-images.githubusercontent.com/1587005/33367644-1b82f47e-d4a4-11e7-9b3b-eab60f69fba9.png">

[2017-11-29 09:29] sid88in commented on #197
resolved. need to use /index.html

[2017-11-29 09:29] #197 closed

[2017-11-29 16:01] sid88in commented on #195
@jthegedus here it is - https://github.com/serverless/serverless-graphql-apollo/pull/196 :) merged now. feel free to play with it and give feedback

[2017-12-01 17:14] sid88in opened #200 "change repository name"

[2017-12-01 17:14] sid88in opened #201 "provide go support for lambda"

[2017-12-01 21:43] sid88in commented on #136
done

[2017-12-01 21:43] #136 closed

[2017-12-02 02:23] sid88in opened #202 "integration with aws amplify for auth mechanism"

[2017-12-02 02:24] #184 closed

[2017-12-02 02:32] sid88in commented on #157
@nikgraf any thoughts on this?

[2017-12-04 20:55] JstnEdr commented on #191
Playground is now loading, however the `graphql` endpoint is coming up as `undefined`. I've found and documented a workaround on issue [#287](https://github.com/graphcool/graphql-playground/issues/287) of the graphql-playground repo. Thanks @sid88in for your help and recent updates.

[2017-12-04 20:55] #191 closed

[2017-12-04 21:18] sid88in commented on #191
@JstnEdr glad that helped.

[2017-12-05 12:54] kaiyes opened #204 "Does this boilerplate supports async await ?"
Hi, I want to use async-await. Does this boilerplate supports it out of the box or will I have to do something on my own ? Normally i am greeted with the below error whenever I am trying to. If this boilerplate supports es7 features out of the box, then I think the issue is somewhere in my setup.

I read this [here](https://adrianhesketh.com/2017/09/26/migrating-to-asyncawait-node-js-aws-lambda-se

[2017-12-05 12:57] kaiyes commented on #204
sls SlStats shows this
![screen shot 2017-12-05 at 18 56 30](https://user-images.githubusercontent.com/5293742/33608240-25e90044-d9ee-11e7-9228-fc9fc63d64c6.png)

[2017-12-07 04:42] kaiyes commented on #204
Sorry, my bad. It does

[2017-12-07 04:42] #204 closed

[2017-12-08 12:41] sid88in opened #205 "parameterize endpoints in handler/resolver"
https://github.com/serverless/serverless-graphql/blob/master/app-backend/rest-api/resolvers.js

https://github.com/serverless/serverless-graphql/blob/master/app-backend/dynamodb/handler.js#L29

[2017-12-08 13:18] sid88in commented on #205
https://medium.com/@purplecones/serverless-environment-variables-4ec818f67388

[2017-12-12 18:42] human-a opened #206 "how to use apollo-upload-server?"
Hi

Is there any way to user [apollo-upload-server](https://github.com/jaydenseric/apollo-upload-server) with your solution? Apparently apollo-upload-server has a way to create custom middlewares, but I don't know how to add it to apollo-server-lambda?

[2017-12-22 08:24] cdelgadob commented on #96
@danbruder I have just shared my implementation for GraphQL authorization, which performs check for the operation being called (mutation or query) and for the data which is queried afterwards.
I has some domain-specific variables, but in general maybe can serve as an inspiration.
It doesn't use Cognito at all, just tables from dynamodb where we store the user roles for the entity being queried and

[2017-12-22 15:25] #176 closed

[2017-12-22 16:43] sid88in opened #208 "generalize rds implementation to mysql, postgres and aurora"

[2017-12-22 17:49] sid88in opened #209 "error while inserting test data in production rds instance"
Unhandled rejection Error: Unable to acquire a connection
    at Client_PG.acquireConnection (/Users/sid.gupta/serverless-graphql/app-backend/rds/node_modules/knex/lib/client.js:346:40)
    at Runner.ensureConnection (/Users/sid.gupta/serverless-graphql/app-backend/rds/node_modules/knex/lib/runner.js:215:24)
    at Runner.run (/Users/sid.gupta/serverless-graphql/app-backend/rds/node_modules/knex/l

[2017-12-22 18:24] sid88in commented on #209
after hardcoding url in seed_prod.js the process is stuck at :

[code]

[2017-12-23 06:41] sid88in commented on #209
https://github.com/serverless/serverless-graphql/pull/213 fixes this

[2017-12-23 06:41] #209 closed

[2017-12-23 06:54] sid88in opened #214 "taking forever to deploy rds in production"
Serverless: WARNING: Could not determine version of module aws-lambda
Serverless: Packing external modules: graphql@^0.10.5, babel-polyfill@^6.26.0, apollo-server-lambda@1.2.0, graphql-playground-middleware-lambda@^1.3.6, aws-lambda, graphql-tools@2.7.2, pg@^7.4.0, knex@^0.14.2

*process is stuck here*

[2017-12-23 06:55] sid88in commented on #200
fixed. thanks @nikgraf

[2017-12-23 06:55] #200 closed

[2017-12-23 06:56] sid88in commented on #183
thanks @nikgraf for fixing this

[2017-12-23 06:56] #183 closed

[2017-12-23 07:03] sid88in commented on #214
it proceeded after 5-10 mins but can we still optimize it? Are we packaging unnecessary packages? - @nikgraf

[2017-12-23 07:09] sid88in opened #215 "bring back apollo client"
as discussed with @nikgraf we must give options to the end user to select apollo client or app sync client.

need to bring back deprecated code for apollo client

[2017-12-23 07:16] sid88in commented on #214
Now uploading artifacts is taking forever

Serverless: WARNING: Could not determine version of module aws-lambda
Serverless: Packaging service...
Serverless: Creating Stack...
Serverless: Checking Stack create progress...
.....
Serverless: Stack create finished...
Serverless: Uploading CloudFormation file to S3...
Serverless: Uploading artifacts...

[2017-12-23 07:18] sid88in commented on #214
Done in 1126.39s.

[2017-12-23 07:19] sid88in commented on #214
*it might be because I am trying from India ;) *

[2017-12-23 07:41] sid88in opened #216 "playground - production message: "Internal server error""

[2017-12-23 09:16] sid88in commented on #216
[code]

[2017-12-23 17:27] sid88in commented on #216
@pradel can you please look into this? The problem seems to be coming from knexfile configs. In production, even though sqlite is not required, knex tries to find it because of config in development environment?

[2017-12-26 08:20] nickdecooman commented on #216
The issue also seems to occur for dynamodb in production

[2017-12-26 08:24] sid88in commented on #216
hey @nickdecooman .. we are aware of the issue (started happening 2 days ago) and have prioritized to debug/fix this.

Any help is appreciated :)

thanks
Sid

[2017-12-26 08:29] sid88in commented on #216
@nickdecooman another thing I noticed is that /graphql endpoint works under the hood (you can test it via postman).. but some problem with /playground endpoint

[2017-12-27 15:29] sid88in commented on #216
graphiQL is working fine - tested by @JstnEdr

[2017-12-28 03:54] sid88in commented on #206
@human-a we have not thought about integrating apollo-upload-server. If you can explain a use case and give an example, we can think about it.

[2017-12-28 04:44] sid88in opened #221 "RDS production deploy not working"
@pradel is looking into this

[2017-12-28 04:44] sid88in commented on #208
@pradel is looking into this

[2017-12-29 19:04] sid88in commented on #120
https://github.com/serverless/serverless-graphql/pull/224

[2017-12-29 19:15] sid88in opened #225 "add apollo link state"
reference: https://www.apollographql.com/docs/link/links/state.html

[2017-12-30 23:31] kkarimi commented on #216
Can confirm graphiQL is fine with dynamodb in prod but only when there is a query present, with an empty query on load it also returns `{
  "message": "Internal server error"
}`

[2017-12-31 02:33] sid88in commented on #216
good catch @kkarimi I'll create an issue to test edge cases in all integrations! We do need more testing ;)

[2017-12-31 02:34] sid88in opened #231 "test edge cases in all integrations"
- empty query
- query with unexpected values
- more.?

[2017-12-31 02:38] sid88in opened #232 "fix broken build"
maybe related to yarn install package changes yesterday

[2017-12-31 13:34] sid88in opened #234 "appsync offline support and optimistic UI"

[2017-12-31 13:36] sid88in opened #235 "appsync service role not authorized when created via serverless template"
This problem happens for dynamo, ES and Lambda integration

[2017-12-31 17:18] sid88in opened #238 "fix appsync response mapping for elasticsearch mutations"

[2018-01-01 00:21] OlzhasAlexandrov opened #239 "Feature request. Use graphql-faker instead of manual addition of fake data"
Hello and thank you for the nice examples!

## Problem

Currently, you need to create a separate script for all wanted fake data to generate.

## Solution

Please consider using [graphql-faker](https://github.com/APIs-guru/graphql-faker) instead of self-written scripts with [faker](https://github.com/stympy/faker) how you do now.

Thank you!

## Offtopic

_P.S. also, would love to see how you do s

[2018-01-01 01:44] sid88in commented on #239
@OlzhasAlexandrov  this is awesome! Didn't even know it existed :) 💃
Would you be open to creating a PR for the same?

[2018-01-01 02:06] OlzhasAlexandrov commented on #239
@sid88in sure, I will create a PR 👍

[2018-01-01 02:16] sid88in commented on #239
yay! thanks. Looking forward to it!

[2018-01-01 11:37] sid88in commented on #195
@jthegedus they are merged now :) Please let me know if you have any feedback/questions. Would love more contributions so feel free to fix minor issues in open PR's if you have some time.

[2018-01-01 11:37] #195 closed

[2018-01-01 11:43] #150 closed

[2018-01-01 11:45] #64 closed

[2018-01-01 11:45] #156 closed

[2018-01-01 11:45] jthegedus commented on #195
If I find anything and can contribute a solution, I will! :smile:

[2018-01-01 11:46] #145 closed

[2018-01-01 11:47] #186 closed

[2018-01-01 11:48] #205 closed

[2018-01-01 12:37] sid88in commented on #234
[code]

[2018-01-01 12:38] sid88in commented on #234
reference: https://docs.aws.amazon.com/appsync/latest/devguide/building-a-client-app-react.html

[2018-01-01 12:46] sid88in opened #243 "Implement subscriptions in appsync"

[2018-01-02 07:08] sid88in commented on #232
https://github.com/serverless/serverless-graphql/pull/244 and https://github.com/serverless/serverless-graphql/pull/233

[2018-01-02 07:08] #232 closed

[2018-01-02 07:37] sid88in opened #245 "Fix authentication problem in appsync lambda mutation"
Need debugging:

[ { code: 220,
message: 'Your credentials do not allow access to this resource.' } ] }

[2018-01-02 13:48] sid88in commented on #216
https://github.com/graphcool/graphql-playground/issues/342

[2018-01-02 15:47] sid88in commented on #187
https://github.com/serverless/serverless-graphql/pull/247/files

[2018-01-03 06:50] sid88in opened #248 "Enhance appsync dynamodb example with multiple table relationships"

[2018-01-04 16:22] human-a commented on #206
Hi

thanks for getting back to. One use case that I needed at the time was uploading files to S3 directly from GraphQL, which in my case I could do it by writing my own custom resolver function. I am not sure how useful would it be for the mass public, in my case, it would have helped make things more organized, otherwise, file uploads are possible in GraphQL via other ways.

[2018-01-04 16:57] maziarz opened #249 "Problems running AppSync example"
First of, great job with integrating AppSync! I tried to follow the README with starting up the AppSync example, but it is not going as expected:

[code]

Followed by:

[code]

When the website is automatically launched i seen an error: `Network error: Failed to fetch``

<img width="453" alt="skaermbillede 2018-01-04 kl 17 57 13" src="https://user-images.githubusercontent.com/15786116/34574775-bfe

[2018-01-05 03:35] sid88in commented on #206
@human-a good news is that appsync supports uploading complex objects such as S3 files via mutations. You might want to check out their documentation. We plan to support it. Can you please create a new issue with an enhancement to support complex objects in mutations.

[2018-01-05 04:03] sid88in commented on #249
@maziarz you are getting this error because there is no server running on local when you run appsync client. In config/security.env.local REACT_APP_GRAPHQL_ENDPOINT=http://localhost:4000/graphql
Right now appsync doesn't support running on local

For instance, if you run app-backend/dynamodb> yarn start and then run appsync-client it will work.

So, you will first need to deploy appsync on aws, ma

[2018-01-05 16:13] sid88in commented on #245
https://github.com/serverless/serverless-graphql/pull/252

[2018-01-05 16:13] #245 closed

[2018-01-06 12:20] maziarz commented on #249
Are you currently working on deploying AppSync API's from either the SDK or CLI? I am planning to do that myself..

[2018-01-06 12:25] sid88in commented on #249
This boilerplate allows you to deploy appsync automatically using JS SDK for instance - https://github.com/serverless/serverless-graphql/blob/master/app-backend/appsync/dynamo/deploy-dynamo.js

Ideally, you would want to use something which is reproducible, scalable and easy to deploy.

[2018-01-06 12:37] maziarz commented on #249
Awesome example! Is it possible to find you somewhere on Gitter or Slack to discuss some things?

[2018-01-06 12:39] sid88in commented on #249
You can contact me on twitter @sidg_sid

[2018-01-08 11:57] sid88in commented on #221
fixed. https://github.com/serverless/serverless-graphql/pull/255

[2018-01-08 11:57] #221 closed

[2018-01-08 11:57] sid88in commented on #208
done https://github.com/serverless/serverless-graphql/pull/255

[2018-01-08 11:57] #208 closed

[2018-01-08 12:02] sid88in opened #256 "GraphiQL not working in RDS implementation"
GraphQL endpoint works but graphiQL and playground doesn't work

[2018-01-08 13:37] sid88in opened #257 "RDS Production Errors"
[code]

[2018-01-08 13:55] sid88in commented on #257
Might be happening because of :

[code]

when we hardcode this to 'pg' I don't get 500

[2018-01-08 14:02] sid88in commented on #257
Another error while deploying:

[code]

[2018-01-09 11:22] sid88in commented on #225
https://hptechblogs.com/central-state-management-in-apollo-using-apollo-link-state/

[2018-01-10 03:52] tomquisel opened #259 "License"
This is a fantastic resource! I'm not quite sure how I'm allowed to use it, though. If you could add a license to clarify, that'd be amazing.

[2018-01-10 04:11] sid88in commented on #259
its open source :) You are more than welcome to use it and even contribute

[2018-01-12 00:46] #259 closed

[2018-01-18 23:23] kvreem opened #260 "502() No 'Access-Control-Allow-Origin' header is present on the requested resource"
My application works locally but when it comes time to deploy I get the following issue in the Chrome developer console.

`Failed to load https://XXXXX.execute-api.us-west-1.amazonaws.com/production/graphql: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'https://XXX.XXX' is therefore not allowed access. The response had HTTP status code 502. If an opaque resp

[2018-01-19 17:12] sid88in commented on #202
done

[2018-01-19 17:12] #202 closed

[2018-01-19 20:49] kvreem commented on #260
Update: After several attempts I have now gotten this far,

`Failed to load https://XXXX.execute-api.us-west-1.amazonaws.com/production/graphql: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'https://my-domain' is therefore not allowed access. The response had HTTP status code 502. If an opaque response serves your needs, set the request's mode to 'no-cors' t

[2018-01-19 22:53] sid88in commented on #260
@kvreem what backend/frontend integration are you working with?

[2018-01-20 01:51] kvreem commented on #260
@sid88in I am using the serverless-graphql boilerplate from around october. I am not sure why this is giving so much problems.

[2018-01-20 02:01] sid88in commented on #260
@kvreem we have been changing/adding/enhancing backend/frontend integrations since October 2016.

1. I am not sure what backend integration you are using (appsync or simple dynamodb, RDS, Rest-API)? If you can point me to the code in master (link) I can understand which integration is not working for you.

2. In the above example I see mongob url. We have not tested any integration with mongodb. A

[2018-01-20 02:17] kvreem commented on #260
@sid88in

1. It is a private repo for a personal project, with your permission I can add you to the repo.
2. Mongo has been working fine locally, and lambda picks it up when I deploy, I believe that this is solely a cors/https/lambda issue.
3. No it is not at the moment, when I replace localhost:4000/ with my lambda url endpoint I get the current `The response had HTTP status code 502. If an opaqu

[2018-01-20 02:25] sid88in commented on #260
ok please DM on @sidg_sid on twitter and we can set something up.

1. I would recommend you to create a PR in this repo and add MongoDB integrations. If that doesn't work please feel free to add me to your repo.

2. As I said, we have not tested MongoDB integrations remotely on AWS, so this repo currently doesn't support it. Please create a PR or open an issue to add this integration and it can be

[2018-01-20 02:28] kvreem commented on #260
Okay let me go ahead and dm you right now! Lets get your eyes on the code. It should be very easy for you to run locally.

[2018-01-20 06:19] justinram22 commented on #257
Just ran into this issue myself -- did you by chance end up keeping the double quotes in your config file? Once I removed the double quotes it worked correctly:

`DATABASE_TYPE=pg`

(And same goes for DATABASE_URL)

[2018-01-20 23:13] sid88in opened #264 "Strict Type Checking for GraphQL Schema"

[2018-01-20 23:29] sid88in commented on #260
@kvreem just summarizing our conversation on skype.

1. You are using a new integration (mongodb) using managed mongodb service which you plan to contribute in this repo.

2. We debugged and found errors in your lambda implementation because postman gave 500.

Let us know your progress on the above. Looking forward.

thanks
Sid

[2018-01-20 23:30] sid88in commented on #257
@justinram22 interesting. Have to check again, but the above errors were intermediate.

[2018-01-20 23:31] sid88in opened #266 "Update Documentation / readme"

[2018-01-20 23:40] #166 closed

[2018-01-20 23:42] #206 closed

[2018-01-20 23:43] #177 closed

[2018-01-20 23:43] #214 closed

[2018-01-20 23:46] sid88in commented on #216
https://github.com/serverless/serverless-graphql/pull/267

[2018-01-20 23:46] #216 closed

[2018-01-21 21:35] #235 closed

[2018-01-21 21:42] sid88in opened #270 "Adapt some graphql best practices"
https://dev-blog.apollodata.com/designing-graphql-mutations-e09de826ed97

[2018-01-21 22:18] #249 closed

[2018-01-22 17:19] sid88in opened #271 "Handle complex objects in appsync schema"

[2018-01-22 17:46] sid88in opened #272 "Handle fine grained authentication/authorization in appsync"
https://docs.aws.amazon.com/appsync/latest/devguide/security.html

A user who created the post should be the only user to update/delete the post.

[2018-01-24 07:40] kvreem commented on #260
@sid88in would it be possible to help me triage this from the headers in chrome:

I really don't think its my database, do i need to somehow add headers request payload?

<img width="1429" alt="screen shot 2018-01-23 at 11 28 19 pm" src="https://user-images.githubusercontent.com/6819847/35319593-554b7c7c-0095-11e8-91b3-c18759ca3905.png">

<img width="1439" alt="screen shot 2018-01-23 at 11 28 11 p

[2018-01-24 21:30] sid88in opened #273 "Fix breaking UI changes"
https://github.com/serverless/serverless-graphql/pull/258 was merged in master and will break appsync UI changes. need to fix and enhance the frontend.

[2018-01-24 22:35] fodurrr opened #274 "405 Method not allowed on production deployment"
Hi,

I am struggling with the production deployment to get it work however local development working fine.

When I deploy frontend to AWS S3 then I get an error on the frontend that 405 Method not allowed from GraphQL endpoint.

I tried everything already but I just cannot find out the reason.

This is what I use in the security.env.prod :

REACT_APP_HANDLE=peterfodor-me --> this is the profile na

[2018-01-24 22:58] sid88in commented on #274
@fodurrr which backend integration are you using? RDS/Dynamo or Rest API?

REACT_APP_HANDLE= ???
REACT_APP_CONSUMER_KEY= ???
REACT_APP_SECRET_KEY= ???

They come from config files and are set in the apollo client. Handle is the user twitter handle in our examples. for instance - for me its sidg_sid or if you generate test data and insert it in prod you will have to check the test data handle for i

[2018-01-24 23:46] fodurrr commented on #274
I am using just dynamodb.... I though that it is not needed but I tried everything :)
What I also do not understand why in the readme the s3 deployments are using https, for me S3 deployment works just with Http, may be therefore I have the other error in chrome console that only secure connection are allowed for serviceworkers.

I am still puzzled. may be this http instead of https is the reason

[2018-01-25 02:34] sid88in commented on #260
would be great if you can create a PR and we can then debug together!

thanks
Sid

[2018-01-25 19:55] fodurrr commented on #274
thanks for your quick answer @sid88in , unfortunately I used the original config files as you proposed and I still have the same issue like you can see the new screenshots.

![image](https://user-images.githubusercontent.com/10008597/35408449-067118aa-0207-11e8-9041-d3d2e080cc33.png)

![image](https://user-images.githubusercontent.com/10008597/35408487-33743800-0207-11e8-9198-4aace217d2b1.png)

Wo

[2018-01-25 20:21] sid88in commented on #274
@fodurrr these integrations were tested before merging in this repo but maybe some breaking change went it. I'll give it a shot and maybe we can skype and debug together later today.

How about you DM me @sidg_sid

[2018-01-25 20:32] fodurrr commented on #274
Sorry @sidg_sid what you mean by "DM me @sidg_sid" ?
I would be more then happy if you could help me out. My skype address is: fodurrr

[2018-01-25 20:33] sid88in commented on #274
;) I mean reach out to me on twitter :D you can add me on skype: sid88in

[2018-01-25 20:56] fodurrr commented on #274
Thanks for your kindness, I solved the issue it was really my bad :((((
I put the graphql endpoint in quotes in the security.env.prod file.

I was suffering with this for soo long. But you motivated me :) I over-complicated the issue for my self....

OMG :)

Nevertheless may be later I will add you on skype If you dont mind because I plan to work with serverless more and more.

Thanks again

[2018-01-25 20:57] sid88in commented on #274
YAYYY! HI 5! :)

Also, feel free to contribute to the repo ;)
cheers
Sid

[2018-01-25 20:57] #274 closed

[2018-01-26 01:37] sid88in commented on #273
https://github.com/serverless/serverless-graphql/pull/278

[2018-01-26 01:37] #273 closed

[2018-01-26 02:48] sid88in commented on #266
https://github.com/serverless/serverless-graphql/pull/275/files

[2018-01-26 02:48] #266 closed

[2018-01-26 02:49] sid88in commented on #239
@OlzhasAlexandrov curious if you are interested to work on this? :)

[2018-01-29 02:51] sid88in opened #298 "Fix bug"
get tweets for myinfo vs userIfno

[2018-01-31 03:58] sid88in opened #303 "Integrate GraphCool Prisma"

[2018-01-31 04:01] #303 closed

[2018-01-31 04:01] sid88in opened #304 "Integrate Prisma"

[2018-01-31 15:43] briantbates commented on #206
Not sure if I should post this here but, @human-a , how are you uploading files to s3 from the graphQL resolver without apollo-upload-server? I'm in the same situation.

[2018-02-01 09:05] human-a commented on #206
@briantbates Actually I gave up on using serverless a while ago, it wasn't quite a fit for our application, but perhaps you could apply the following solution for your serverless app:

here is one of my mutations:

[code]

Here is the uploadFiles function

[code]

On the client side (I am using apolllo-react):
[code]

Now I have ```this.props.uploadUserFile``` in my component. Hope it helps.

[2018-02-02 07:16] kvreem commented on #260
@sid88in i have the code for the PR can you walk me through the process? I cloned the repo and created my own branch but I cannot push my branch to the repo.

[2018-02-02 09:11] kvreem commented on #260
@sid88in update I think I successfully submitted a PR for this issue #305

[2018-02-09 11:00] lookapanda commented on #256
Yes, I noticed this too.

It's the same for the playground.

They need to be changed to this:

[code]

[2018-02-09 15:44] sid88in commented on #256
@lookapanda does it work with these changes? can you please test it and create a PR :)

[2018-02-09 16:32] #298 closed

[2018-02-09 16:43] #270 closed

[2018-02-10 05:01] lolcoolkat opened #309 "Updating AppSync endpoint rather than creating new one?"
When I deploy the AppSync backend via node deploy-dynamodb.js i'd like it to update an existing appsync deployment.. rather than creating a new one. Is this possible.. if so can someone please share? :)

[2018-02-10 05:06] sid88in commented on #309
@lolcoolkat you have two options:

1. add update sdk's in [deploy script](https://github.com/serverless/serverless-graphql/blob/master/app-backend/appsync/dynamo-elasticsearch/deploy-elasticsearch.js)

https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/AppSync.html#updateGraphqlApi-property

2. add integration in https://github.com/sid88in/serverless-appsync-plugin/pulls

[2018-02-10 05:11] lolcoolkat commented on #309
Thank you @sid88in !!!!

[2018-02-10 05:11] #309 closed

[2018-02-10 11:14] lolcoolkat opened #311 "Error transforming the velocity template"
Getting this error ... after I deployed and setup everything.. using AppSync client!

`GraphQL error: java.util.concurrent.ExecutionException: com.amazonaws.deepdish.transform.velocity.TransformationRenderingException: Error transforming the velocity template`

![Error](https://image.prntscr.com/image/UvrL2O5-S3GCFBcjh9sgoA.png)

The query that's causing the error is **Query.meInfo**

![Error](htt

[2018-02-10 18:02] sid88in commented on #311
something is not right, can you please check if your GraphQL endpoint is working in postman.

[2018-02-10 22:55] lolcoolkat commented on #311
@sid88in I can access the url if thats what you're referring to, yes.

[2018-02-11 02:14] iuriikozuliak commented on #311
@lolcoolkat got the same error on my initial setup, fixed by adding a user to the Users table with the same handle as cognito username.

[2018-02-11 02:28] sid88in commented on #311
@iuriikozuliak thanks for pointing this out. Yes, because meInfo derives value from cognito user base, the same username must be present in the fake dataset.

Can you please create a PR and update that in the readme ;)

[2018-02-11 02:44] lolcoolkat commented on #311
@iuriikozuliak @sid88in yep figured out I needed to add my handle to the user table.. after like 2 hours of debugging hehe :D

[2018-02-11 02:45] sid88in commented on #311
meowww! @lolcoolkat

[2018-02-11 02:45] #311 closed

[2018-02-11 07:24] lolcoolkat opened #316 "ConcurrentModificationException: Schema is currently being altered, please wait until that is complete"
Keep receiving this error.. when updating the resolvers and the process crashes.

`ConcurrentModificationException: Schema is currently being altered, please wait until that is complete.`

![Error](https://image.prntscr.com/image/32snWo8FSUOG5JNzDi-TLQ.png)

Any ideas? :)

[2018-02-11 15:09] sid88in commented on #316
@lolcoolkat are you using appsync plugin or deploy script in this repo?
I have seen this error before when your types are not set properly in the deploy script.

[2018-02-11 20:38] sshadmand commented on #72
Something is definitely off here. Using the same serverless.yml, and as a test, I was able to create the deployment, then used `serverless remove` successfully. Then, I ran deploy again and got failures. There is definitely a clean up issue.

[2018-02-12 00:57] sid88in commented on #256
@lookapanda can you please DM on twitter - @sidg_sid I have a qq

[2018-02-12 01:46] sid88in commented on #256
@lookapanda just tested graphiql doesn't work with these changes. will be great if you can test it once something next week to see if I am missing anything.

thanks :)

[2018-02-12 05:05] ryanwmarsh opened #319 "Thank you"
I just wanted to take a moment to thank everyone who has contributed to this repo. I'm trying to use AppSync with Amplify and Serverless and your contributions have saved me an immense amount of time. In your code I found answers to some very difficult problems I was running into.

**Thank you!!!**

🙇 🙇 🙇

[2018-02-12 07:00] lolcoolkat commented on #316
@sid88in i'm assuming you're talking about the types in my schema? If so, I don't have any custom types in my schema file.. just what was there by default.

And yes I am using the deploy script :)

[2018-02-12 16:50] sid88in commented on #319
@ryanwmarsh thanks a lot for your kind words! I am very happy to know that this repository is helping you. Please keep us posted and looking forward to your feedback on new features!

[2018-02-12 18:58] sid88in commented on #187
done

[2018-02-12 18:58] #187 closed

[2018-02-19 08:17] sid88in opened #327 "clear cache on log out"

[2018-02-28 05:42] maziarz commented on #195
I will be actively working on a deploy tool for AppSync. Is there any activity in this context at the moment?

[2018-03-03 06:07] rafaelcorreiapoli commented on #137
Hi! I was wondering... Wouldnt stitching be a bad practice for serverless? I mean, everytime the lambda boots up it would have to make the instrospection query to other graphql endpoints and this task would add a considerable delay to our lambdas. What do you think about it?

[2018-03-07 22:42] abelovic opened #336 "Appsync with Prisma Cloud"
On the system architecture I see there is:

Gateway -> Lambda -> Prisma (Graphcool)

What about:

AppSync -> Lambda -> Prisma Cloud (Private cluster)

Is this possible?

[2018-03-07 22:53] sid88in commented on #336
@abelovic to integrate appsync with prisma we would need to pass GraphQL info object in the resolver functions. As of right now appsync doesn't provide this functionality.

[2018-03-08 16:55] abelovic commented on #336
@sid88in - thanks for your help! I will check with AWS support and see if they have any plans to implement this

[2018-03-08 17:16] jeremyputeaux opened #337 "Is not possible not to use cognito ?"
Hello,

Everything is in the title.

I need to make accounts without password.
People will set their password when they confirm their email.
I don't think I can do this with cogito. I can't find the information anywhere.
Thank you.

[2018-03-08 17:25] sid88in commented on #337
Hey @jeremyputeaux - not sure if I understand your question. Looks like you don't want to authenticate your API via cognito. OK, thats perfectly fine. We have two backend integrations - 1) api gateway + lambda where you are free to not authenticate api or use api key or custom authentication if you want.  2) appsync - you have to authenticate api in this case via api key or cognito or custom auth.

[2018-03-08 23:55] jordo1138 commented on #274
I did the same thing just now @fodurrr lol first took out the <> and then the "" and it's fine now in prod
the config by default shows
REACT_APP_GRAPHQL_ENDPOINT="<your custom API endpoint e.g. https://XXXXXXXXXX.execute-api.us-east-1.amazonaws.com/production/graphql>"

you need to remove the "< >" in order for it to not give you the 405 error in prod

[2018-03-09 13:53] jeremyputeaux commented on #337
OK thanks a lot

[2018-03-09 13:53] #337 closed

[2018-03-09 17:35] abelovic opened #339 "Serverless.yml for graphql-yoga with prisma"
This is probably an easy question but I have been struggling to get this to work :(

Using this example:

https://github.com/graphcool/graphql-yoga/tree/master/examples/lambda

except trying to modify it so that it uses this boilerplate (or any of them really):

https://github.com/graphql-boilerplates/node-graphql-server/tree/master/advanced

I tried to modify the "function/(graphql & playground)/

[2018-03-09 17:47] sid88in commented on #339
Hey @abelovic thanks for looking into it. If you can create a PR with your implementation I am sure Graphcool folks can help you debug.

-Sid

[2018-03-14 05:24] remicastaing opened #342 "Package size"
Hello every one! Thanks for the awesome work.

I'm looking at the package size after running `sls package`:
[code]

If you look into the .zip files you will find all the node_modules, with readme, test, src, etc. Is not there any way to get rid of all this dead weight?

[2018-03-14 20:45] remicastaing commented on #342
I just deployed the minified service and it seems to work: playground and graphiql are responding and I'm getting a `{  "message": "Missing Authentication Token" }` message without an error from the endpoint.

During packaging, I'm getting two warnings:
[code]

[2018-03-15 12:27] shashanktomar commented on #72
Deleting the cloudformation template might not be a good solution. The next deployment will create a new api-gateway deployment with different id, which will change the url(might not matter if you are using cnames).
The better solution which worked for me was:

go to cloudtrail and select s3 resource to check the deleted bucket name. You don't need this if you have some other way of knowing the bu

[2018-03-16 15:48] remicastaing commented on #342
If I'm trying to use `uglifyjs-webpack-plugin`, I could not bring schema stitching (`mergeSchemas` from `graphql-tools`) to work.

[2018-03-18 16:23] eltonio450 commented on #248
Hi :),

Finally successfully implemented with dynamodb + mapping templates.  Unfortunately I don't have time for a full PR, but I post small explanation here (since it's been a pain to find something related to this on the AWS doc)

The key is to link mapping templates through the "source" argument. See here: https://docs.aws.amazon.com/appsync/latest/devguide/resolver-context-reference.html#dynam

[2018-03-18 17:52] sid88in commented on #248
@eltonio450 thanks a lot! I'll take a look sometime this week.

[2018-03-19 17:52] eltonio450 opened #343 "update-appsync does not work with API_KEY settings"
Creating the appsync app with the API_KEY flag worked:

![image](https://user-images.githubusercontent.com/6675365/37612505-af23fbc6-2ba5-11e8-8bde-7d02a5a6db90.png)

but updating it through update-appsync did not:

![image](https://user-images.githubusercontent.com/6675365/37612555-ca6ece1a-2ba5-11e8-9024-8d618e7f8180.png)
![image](https://user-images.githubusercontent.com/6675365/37612565-d664d1

[2018-03-20 03:01] sid88in commented on #343
@eltonio450 can you please check if you are using latest npm version 0.0.6. Version 0.0.5 doesn't have update api key functionality but 0.0.6 should work. Let me know and I can test again. thanks!

[2018-03-20 09:04] eltonio450 commented on #343
@sid88in my bad, I thought I had the last version but was reading the wrong package.json file :(

[2018-03-20 09:04] #343 closed

[2018-03-20 14:15] sid88in commented on #343
glad you made it work ! 👍

[2018-03-29 02:11] sid88in commented on #342
Right now we are not using merge schemas but would use it in future. Maybe we can keep this issue open till we have an answer.

[2018-03-29 02:12] #316 closed

[2018-03-29 02:13] #304 closed

[2018-03-29 02:13] #272 closed

[2018-03-30 01:59] merunga opened #346 "Lambda:IllegalArgument"
I don't know if this is an issue with the examples themselves or with [serverless-appsync-plugin](https://github.com/sid88in/serverless-appsync-plugin).

But, after deploying [appsync api with lamba datasource](https://github.com/serverless/serverless-graphql/tree/master/app-backend/appsync/lambda) and trying to connect with [appsync-web-client](https://github.com/serverless/serverless-graphql/tre

[2018-03-30 02:04] sid88in commented on #346
@merunga looks like some settings are not correct.

1. Please double check the resource ARN's used while creating the backend API. You can double check if your API is infact working by going into AppSync console.

2. Please double check the input configs for the client are set properly with correct API name.

[2018-03-30 02:17] merunga commented on #346
Hi @sid88in thanks for the quick reply.
I've have already checked the two places where ARNs are used:
- the appsync dataSource
- the role policy resources

Is there some other place where I should check?  What do you mean with ***the input configs for the client***?

Just to be clear, I have not changed anything in the serverless.yml file except for `custom.accountId` and `custom.userPoolConfig.us

[2018-03-30 02:38] sid88in commented on #346
@merunga I would first make sure AppSync API's are created with correct input ARN's for AWS Lambda. You can try that by either 1) making an API call directly from GraphiQL in AppSync Console or 2) invoking lambda with a test event on lambda console. Now, if you get an error then there is something not right with your backend setup.

Now, if the above step completes successfully, then you should ch

[2018-03-30 02:43] merunga commented on #346
@sid88in graphiql in appsync console is returning the same error. I'll check it out. Thanks for your support!

Hope to come back with an explanation!

[2018-03-30 02:51] sid88in commented on #346
@merunga sounds good. The problem seems to be with the backend API creation. Please check the AWS lambda resource ARN.

[2018-03-30 02:51] #346 closed

[2018-04-02 05:54] remicastaing commented on #342
If, like me, you encounter some issue by packaging some npm module, just use `webpack-node-externals` to get rid of it. They won't be packaged and uglifyed but are still there in the `node_modules` folder

(I dropped `mergeSchemas` from `graphql-tools` and I'm using `mergeTypes` from `merge-graphql-schemas` because the former won't go along with the error handling module `graphql-apollo-errors`.)

[2018-04-07 02:54] Monichre opened #348 "An error occurred: GraphiqlLambdaFunction - Value of property Variables must be an object with String (or simple type) properties."
Follow the specs of the README.md completely and I'm still getting this error. What am I missing? /graphiql endpoint works locally but won't deploy

[2018-04-13 09:06] romainquellec commented on #234
What is missing for offline support with appsync ?

[2018-04-13 10:48] kirkness commented on #346
Hello! I think it might be on this line https://github.com/serverless/serverless-graphql/blob/master/app-backend/appsync/lambda/serverless.yml#L61

`arn:aws:lambda:us-east-1:${self:custom.accountId}:serverless-graphql-appsync-lda-production-graphql`

Should become...

`arn:aws:lambda:us-east-1:${self:custom.accountId}:function:serverless-graphql-appsync-lda-production-graphql`

[2018-04-26 04:04] noetix commented on #137
@rafaelcorreiapoli Schema generation could be done at deployment time and set via an environment variable (or some other kind of fast read option.)

[2018-04-26 20:09] patrickr commented on #137
@rafaelcorreiapoli schema generation/modification/expansion on launch will impact your cold start time a tiny bit,  but depending on your use case, what you get out of doing it might be worth the time cost.

[2018-04-27 19:40] getsbydev opened #349 "Use AppSync with Amazon RDS"
I'm struggling with the combination of _AppSync_ and _Amazon RDS_. I tried the implementation of the standalone rds, and the appsync examples provided in the repository. These are working like a charm.
But obviously there are many differences and difficulties if you'd like to combine these technologies. I used the _schema_, _resolver_ and _handler_ functions from the rds directory and combined it

[2018-04-27 21:06] immexerxez opened #350 "Add aws Amplify Client"
Amplify has an appsync client. I don't know when it was added but I just came across it today and think it would be a nice addition as a client example. [api reference](https://aws.github.io/aws-amplify/media/api_guide#automated-configuration-with-cli)

[2018-05-07 18:38] cbaron opened #351 "Unable to connect client to appsync api."
Hello,

I was easily able to spin up an appsync graphql api using the `app-backend/appsync/dynamo` configuration.  Thank you!

However, its not clear that a service role is created.  Is that supposed to happen?

Also, I was able to spin up a client from `app-client/appsync-client`, but after user pool authentication,  I am left with the following error when attempting to retrieve information from

[2018-05-08 20:17] #351 closed

[2018-05-21 14:52] dbackeus commented on #351
@cbaron did you find a solution? I'm struggling with this currently.

[2018-05-21 14:55] cbaron commented on #351
I did!

The README does not include how to create the data sources and roles.   Check `app-backend/appsync/dynamo/package.json`'s scripts attribute to find the `deploy-prod` command.

[2018-05-22 07:48] dbackeus commented on #351
I also solved this. What I did was:
- Realize that `serverless deploy-appsync` doesn't actually create roles / policies
- Run `serverless deploy` to have the roles / policie created
- Realize that there were some policy strings hardcoded to the us-east region while I'm using eu-west so manualla fixed them as well

[2018-05-23 12:40] DaphneKerstens commented on #348
Ik have the same problem

[2018-05-29 04:59] harryhan24 commented on #348
same pere...

[2018-05-29 05:00] Kisepro commented on #339
@abelovic  Did you find something ? Could help me a lot :-)

[2018-05-29 17:14] abelovic commented on #339
@Kisepro - yes I have it working :) You will need to use webpack and you can use this as a starting point: https://github.com/jgeschwendt/serverless-prisma

Here is what I use:

 Note: I am still using Prisma 1.7.4 & Prisma-binding 1.5.19 due to windows issues: https://github.com/prismagraphql/prisma/issues/2494

serverless.yml

[code]

.graphqlconfig.yml

[code]

webpack.config.js

[code]

graphq

[2018-06-04 02:01] kltdwrds opened #354 "Fix missing query arg in apollo-client"
https://github.com/serverless/serverless-graphql/pull/353

[2018-06-13 13:51] romainquellec opened #355 "AppSync & RDS"
Hello.

Just wondering : Is it possible right now to use AppSync with a RDS database ?
(If I'm connecting my lambda to my database in RDS, everything should be fine ?)

Thanks !

[2018-06-13 13:52] romainquellec commented on #355
(You can add the "Question" label)

[2018-06-13 13:58] romainquellec commented on #349
Hello @getsbydev, any improvement ? Can you share your code ?

[2018-06-18 15:05] getsbydev commented on #355
Yes you can easily connect your AppSync service with a lambda function to access your amazon RDS database.
I'm using a node.js lambda-function and access my RDS database via knex.js

[2018-06-18 15:08] getsbydev commented on #349
Hey @romainquellec yeah I already figured it out to successfully connect the Amazon AppSync service with a RDS via a lambda-function.
In the next days, I'm going to create a small repository to share my implementation.

[2018-06-19 07:31] romainquellec commented on #349
Thanks ! ping me then ;)

[2018-06-20 16:15] romainquellec opened #356 "Region AppSync <> DynamoDB"
Is it possible to configurate two different locations :
One for AppSync (eu-west-1) and another one for DynamoDB (eu-west-2) ?

If so, how ?

(My current config is here : https://github.com/CuistotduCoin/cuistot/blob/master/backend/serverless.yml)

[2018-06-22 21:43] sid88in commented on #355
+1 @getsbydev

[2018-06-22 21:43] #355 closed

[2018-06-22 21:43] #354 closed

[2018-06-22 21:44] sid88in commented on #356
@romainquellec similar issue has been created in serverless appsync plugin (I think PR exists - can you please look at that?)

[2018-06-22 21:44] #356 closed

[2018-06-22 21:46] sid88in commented on #349
@getsbydev @romainquellec key is to make sure lambda has access to RDS (VPC settings are correct). Then you can use the lambda + graphql code in appsync (with correct templating) and it should work!

[2018-06-22 21:46] #349 closed

[2018-06-26 04:34] josoroma commented on #355
@getsbydev Would be awesome to see a simple functional code example of `AppSync + Lambda + RDS Postgres`.

Thanks!

[2018-06-29 17:05] fgiarritiello commented on #337
@sid88in Do you have an example of how to use appsync with custom auth.
In my specific case I'm using auth0 to get a jwt and use it to authorize access to the microservice rest apis. I'm now trying to wrap the rest apis with appsync and would like to use the same jwt to authenticate the graphql api. Any idea how to achieve this?

Thanks

[2018-07-12 10:03] Zhuravlev1 commented on #248
@sid88in @eltonio450 Hi, I have same problem. I have two tables. **User** and **Post** and I need get post and information about author. User.userId = Post.userId. Could you help me ?
The schema, mapping template and Query I created are as follows:
[code]
and I have next response:
[code]

[2018-07-12 10:18] eltonio450 commented on #248
Hi,

First, you need to slightly modify your request to include userId on the 'items' level (which then will be passed in 'source' to the next level):

[code]

Then, you should have two mapping templates:

One which resolves 'items' in PostConnection, and should look like this (not tested, modified yours), with Post as Datasource.
[code]

At this point, you collected all the posts given a userId

[2018-07-12 11:03] Zhuravlev1 commented on #248
@eltonio450  Now I modify my request (add 'userId' to Items) remove resolves for listUserPosts and add for PostConnection.Items and userPost.author (add mapp.template and source table) But i get null in answer :( Do I understand correctly?

[2018-07-12 21:39] fgiarritiello commented on #339
Hi @abelovic, how are you handling websocket connections using the above project configuration

[2018-07-13 17:35] fgiarritiello opened #357 "How does @aws_subscribe work in a Apollo + Lambda work?"
Hi,
the code example [here](https://github.com/serverless/serverless-graphql/blob/50f6c507294f98f5e61f32a52fc0e949ecf601e0/app-backend/rest-api/schema.js#L58) shows the directive @aws_subsribe being used on the mutation - How would that work if the lambda is a short-lived function?

[2018-07-17 13:48] getsbydev commented on #349
@romainquellec I created a [repository](https://github.com/getsbydev/serverless-graphql-appsync-rds) with my implementation. Feel free to leave some feedback!

[2018-07-18 10:05] mattbt commented on #349
Hey @getsbydev thanks for sharing.
Is your lambda within a VPC?
I tried and implement something similar, but I'm experiencing cold starts up to 10s (!)

[2018-07-18 13:58] getsbydev commented on #349
@mattbt my lambda is currently not within a VPC and the executing times vary from 2ms to 200ms.

[2018-07-20 13:54] stephme commented on #349
@getsbydev thx a lot for your code ! Great help !

For those who are using the `pg`module : knex is using it at runtime and so you will have to require it manually in your code to force the inclusion in the bundle. Otherwise it won't be included and knex will crash.

Or you can add this in your `serverless.yml` file :
[code]

[2018-07-20 14:01] mattbt commented on #349
@getsbydev thanks, and is your RDS instance in a VPC? if so, how do you restrict access to RDS only to that Lambda? I have not found an answer yet, beside putting Lambda in the VPC itself (and therefore experiencing cold starts).

[2018-07-20 18:43] muke5hy opened #358 "Error: only one instance of babel-polyfill is allowed"
Hi I'm getting following error. My Node version is 9.11.2

`Serverless: POST /graphql (λ: graphql)
Serverless: The first request might take a few extra seconds
Serverless: Error while loading graphql
[ 'Error: only one instance of babel-polyfill is allowed',
  'at Object.<anonymous> (/Users/mukesh/Projects/serverless-graphql/app-backend/dynamodb/node_modules/babel-polyfill/lib/index.js:10:9)',
  '

[2018-07-27 10:04] jleppert commented on #72
This is just a general comment but when you deliver back error messages to the user, please try to include the proper name of what doesn't exist. That is, if a bucket doesn't exist you should say WHAT THE BUCKET NAME IS.

Also, passing `--verbose` does nothing. A command line tool is supposed to be a user interface, not a hurdle.

[2018-07-28 22:09] jmuenster commented on #358
I'm experiencing the same issue with the dynamodb backend and the apollo client

[2018-07-29 17:51] seiji-fli commented on #358
resolved this by removing babel-polyfill import from dynamodb/handler

[2018-07-30 07:58] muke5hy commented on #358
Will there be any issue if we remove it from dynamodb/handler

[2018-08-01 18:14] sid88in commented on #358
@muke5hy @seiji-fli can you please test it and create a PR?

[2018-08-01 18:15] sid88in commented on #350
@Loag want to contribute ? :)

[2018-08-10 13:40] tuomassalo opened #360 "Appsync OPENID_CONNECT support?"
I'd like to use AppSync - but with OpenID Connect instead of Cognito. Since I've found no example code anywhere (!), I've been trying to modify this repo for the purpose.

For now, I've done more or less these steps:

- added this to `app-backend/appsync/dynamo/serverless.yml`:

[code]
- updated `serverless-appsync-plugin` to 1.x and fixed some migration stuff as per https://github.com/sid88in/ser

[2018-08-10 16:43] sid88in commented on #360
@tuomassalo you might want to create this issue in serverless-appsync-plugin (more active)

[2018-08-20 13:28] benjamin-rood commented on #358
Encountering the same error with the Twitter / `app-backend/rest-api` one, too.

[2018-08-26 10:05] harleyguru commented on #248
Hi @eltonio450
[code]

Here, if $context.source.userId will be null or empty, what about?
This GetItem template won't work.
What will you suggest to handle this case?
Thanks

[2018-09-04 23:10] Gerst20051 commented on #358
Error: only one instance of babel-polyfill is allowed.

Also having this same issue when using `serverless-dynalite`.

You can see this error gets thrown in many packages.

https://github.com/search?p=2&q=_babelPolyfill&type=Code

You can see where it doesn't do this check in `serverless-dynalite`.

https://github.com/sdd/serverless-dynalite/blob/5883f8abcb28349cf8d78edfa2a6f9af53b297a4/index.js#L

[2018-09-19 21:50] derwaldgeist commented on #72
This worked for me, too. Thanks.

[2018-09-20 20:50] dougtoppin opened #362 "Configuration for app-backend/appsync/dynamo?"
I need an example of using serverless with Appsync and DynamoDB and have been trying out the production (online) app-backend/appsync/dynamo, app-client/appsync-client and AWS S3 configuration.

Everything appears to deploy without error but when I try the client login it works but I get this ```Network error: Unexpected token < in JSON at position 0```

I am having trouble with (I think) at least

[2018-09-27 09:38] idkjs opened #363 "Error: DynamoRole already exists"
I am trying to run `deploy-prod` on the [serverless-graphql dynamodb](https://github.com/serverless/serverless-graphql/tree/master/app-backend/dynamodb) example. Serverless Framework is giving me the following error which I can't seem to resolve after reading the doc, manpage, etc.

`An error occurred: ServiceRole - DynamoRole already exists.`

Any ideas on how to resolve this? Thank you.

Full er

[2018-09-27 15:55] jelder commented on #72
I would like to reopen this issue. It is fairly easy to arrive at this situation and this has happened to me numerous times over the past few months. I've never been able to identify exactly how to fix it. The error message Serverless yields is useless. At the very minimum, the bucket name needs to be included in the error.

[2018-10-02 01:31] sid88in commented on #363
@idkjs you might want to do a clean deploy. Looks like the IAM role attached to DDB already exists for some reason.

[2018-10-02 01:33] sid88in commented on #362
@dougtoppin if you are able to use POSTMAN and work with the API's then there is most probably a problem with your front end configurations. You might want to isolate the issue to make sure if your backend is working fine without front end integrations.

[2018-10-08 18:52] Chanonry commented on #72
I agree the error messages are poor. When it has happened to me it has usually been when I have been using plugins to simplify the removal of the stack. It is rare though.

Best approach was above - look at Cloudtrail. It seems to be the removal of the serverless bucket itself that causes the problem. As its not named in the yaml file your attention is not directed to it.

[2018-10-10 13:58] gertst commented on #260
I had the same issue and could solve it by changing the siteUrl from http:// to **https**://

[2018-10-10 16:00] bmccann36 commented on #248
In response to anyone trying to query two different Dynamo tables to access related data:
Rather than trying to design your graphQl api to do this you may want to take a step back and redesign your tables + data modeling strategy.
From the AWS dynamoDB documentation:
_"You should maintain as few tables as possible in a DynamoDB application. Most well designed applications require only one table"_

[2018-10-10 17:53] skonb commented on #360
I experienced similar problems using custom OIDC provider implementation using node-oidc-provider.  I do not know if this is related, but the following settings worked:
[code]

I suspect JWT and pairwise related availability is required.

[2018-10-15 15:11] #363 closed

[2018-10-27 18:50] olistic commented on #96
Conversation is old, but sharing my two cents. Regarding this:

– @buggy

In GraphQL, **everything** sits behind a single endpoint, right. But what if that same **everything** sat behind two different endpoints? For example:

[code]

**Then you can apply Lambda Authorizers (custom or Cognito) only to the `/authed` endpoint and still get the benefits of it while not forcing the entire API to be res

[2018-10-31 00:11] cmbirk commented on #358
+1 here

[2018-11-10 22:41] amerani opened #364 "Migrate app-backend/rest-api to Apollo Server 2.0"
Apollo framework has released Apollo Server 2.0 and the corresponding lambda package `apollo-server-lambda`. I have started creating my own boilerplate (https://github.com/amerani/graphql-serverless-boilerplate) using this repo as inspiration. Is there any interest to upgrade apollo server here? I'd be happy to contribute.

[2018-11-12 15:52] sid88in commented on #364
@amerani that would be great. If you can update this issue with all the changes you have in mind then we can give it a review and then you can create a PR to make those changes? Does that sound good? :)

[2018-11-13 03:25] sid88in commented on #364
@amerani this all sounds great! please go ahead. I would request you to create PR's making change in 1 backend at a time and doing full testing E2E. I don't want us to create a *huge* PR which is difficult to test and have potential issues. We need to be super careful that things don't break and work E2E (including UI, Backend).

Looking forward to your work!

[2018-11-14 15:55] amerani commented on #364
Done https://github.com/serverless/serverless-graphql/pull/365 💪

[2018-11-14 15:55] #364 closed

[2018-12-04 22:52] chenrui333 commented on #72
It would be really valuable that the bucket name is included in the error message.

[2018-12-07 08:48] bebbi opened #369 "Bump babel/jest/webpack dependencies"
For those using `serverless-graphql` in a monorepo with `create-react-app`, it would be a great benefit if we could update the relevant dependencies in the project. I haven't managed on first try, will check again later if I can resolve it.

[2018-12-14 20:23] #157 closed

[2018-12-16 13:31] cdelgadob commented on #96
Thanks Dilip! Looks very interesting. How would this work with a multi tenant app?

[2018-12-16 21:10] dukuo commented on #96
Great question! My first thought is to package the auth rules in a separate dependency but that would cause some issues like duplication of types maybe. So instead of giving an uninformed opinion i'm digging into it now with separate functions. Will post something when I have the answer.

[2018-12-17 05:32] dukuo commented on #96
I might have confused terms, I was thinking on keeping authorization + authentication across multiple serverless functions! Speaking of which, @MeixnerTobias solution on how to implement headers or baking client id in the token (the later sounding not so safe IMO) would apply as well.

Has anyone played with schema stitching across serverless functions ?

[2019-02-06 15:15] ajshukury opened #370 "Playground is and graphiql loading with error"
When opening

- http://localhost:4000/playground
- http://localhost:4000/graphiql
Getting this error in browser.

 {"statusCode":400,"error":"Bad Request","message":"Invalid cookie value"}

but
- http://localhost:4000/graphql
works fine and I can see the tweets.

[2019-05-10 22:18] gegana opened #376 "Request AppSync DataSource HTTP type"
Using a lambda acting as a proxy for a REST endpoint adds unnecessary latency when AppSync supports HTTP data source type out of the box. Are there plans to support this feature?

[2019-05-16 14:23] fransafu commented on #358
That problem exists when the import of 'babel-polyfill' is in two part of your program. If you want use 'babel-polyfill' locally, put in your code a validation which filter by NODE_ENV (development or production) or remove import or require 'babel-polyfill' when pass to production

[2019-05-23 02:51] XanXus96 commented on #191
@JstnEdr please how did you resolve the first problem

[2019-07-22 11:26] ahallora commented on #72
I had deleted the s3 bucket long ago and was getting `Unhandled rejection ServerlessError: The specified bucket does not exist`. The cloudtrail was too old to show the bucket name.

I did `sls info -v -s prod` and found the **ServerlessDeploymentBucketName** ... 👍

[2019-07-25 09:44] maxpastor commented on #360
Anything new on this subject ?
I encounter the same problem and can't find a way to make it work.

[2019-08-23 01:35] thanhpd-teko opened #377 "Got error when run yarn install"
Hi,
Steps:
- Clone project
- Cd into \app-backend\appsync\dynamo
- Run yarn install
I got the error below:

[!] (uglify plugin) Error: Error transforming bundle with 'uglify' plugin: `warnings` is not a supported option
Error: Error transforming bundle with 'uglify' plugin: `warnings` is not a supported option
    at error (C:\Users\Teko\AppData\Local\Yarn\Cache\v4\.tmp\06089c6876814e6693e0ee24b99

[2019-10-09 08:22] PaulRBerg commented on #94
I suggest to add @kevupton's solution as a big red flag somewhere and in the official examples for simple http endpoints. I spent nearly 5 hours debugging this CORS issue.

[2020-01-13 12:08] mohamedGamalAbuGalala commented on #377
Same error here, any updates :thinking:

[2020-02-26 21:06] oznekenzo commented on #377
Ive gotten this as well

[2020-02-27 18:29] oznekenzo commented on #377
@mohamedGamalAbuGalala @thanhpd-teko
Delete your node_modules folder and delete your yarn-lock files - worked for me

[2020-02-27 22:22] oznekenzo opened #388 "Yarn start in `app-backend/dynamodb` does not start dynamodb on port 8000"
Running `yarn start` in `app-backend/dynamodb` as simply stated in the docs does not start the dynamodb on port `8000` w/ access to it at `8000/shell`.

Dynamodb at `8000/shell` only works when starting from `app-backend/appsync/dynamo`

For the graphql playground at :3000 AND the dynamodb to be running at the same time, I need to have run `yarn start` from both `dynamo` directories (app-backend/d

[2020-02-27 22:35] oznekenzo commented on #388
solved with this:
https://github.com/99xt/serverless-dynamodb-local/issues/225#issuecomment-498023248

[2020-02-27 22:37] #388 closed

[2020-04-16 12:15] bizready opened #391 "multiple @connection to same child table possible?"
Below model works!
[code]
I am trying to modify my User model as below (User can create his/her own services or can favorite others services)
[code]
With ```amplify push``` it fails with folllowing errors:
[code]
Am I missing anything? Why User can not have multiple reference list for Services?

[2020-04-16 13:46] bizready commented on #391
My issue is related to cloud formation state-related issues. Manually deleted GSI that was causing the issue

[2020-04-16 13:46] #391 closed

[2020-06-29 21:37] quietgopher opened #397 "Batch mutations seem to create separate AWS Lambda invocations"
Hi!  I have an Apollo server running using Serverless on AWS Lambda.  I'm sending a bunch of mutations in a single batch to the Lambda.  I would expect only one Lambda invocation for the whole batch.  I'm seeing >=1 Lambda invocation per mutation in the batch.  Splitting each mutation into a separate Lambda will be expensive and less efficient.

[code]

[2020-09-01 01:55] divyalahoti commented on #248
Is there a way in Appsync to write a recursive function.. Something like iterate over a loop of record gratear than 1 MB from the data source in appsync , process all the records and then push it to client ?

[2020-12-03 21:35] imolorhe commented on #195
@harleyguru You can test appsync GraphQL subscriptions in [Altair](https://altair.sirmuel.design/).

[2020-12-25 07:17] SRIRAM301090 commented on #94
I use python as a runtime for Lambda. I got the same error and once I added integration: LAMBDA it worked.
So any idea how can I handle this with Lambda-proxy?

[2021-02-09 04:41] dougmorin commented on #370
Did you ever resolve this?  I'm running into this right now.

[2021-02-16 12:51] mahmudulshuvo commented on #94
Can someone please tell me where do I add this integration lambda? I'm facing the same problem here. My template is

[code]

[2021-04-05 07:55] #377 closed